.modalTitle{
    padding: 10px 18px;
    position: relative;
    bottom: -17px;
    background: #fff;
    color: #848484;
    font-size: 16px;
    font-weight: normal;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#importmarginsmodal .modal-header{
     background: #F4f4f4;
    padding-top: 0px;
}
#importmarginsmodal label{
    color: #848484;
    font-size: 14px;
}
#importmarginsmodal .form-control{
    font-size: 13px;
}
.iconBox{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: #d3d3d3;
}
.iconBox i {
    font-size: 21px;
    margin-top: 7px;
}

                 