.indicatorRow{
  background-color: #ecf0f1;
  padding-left: 0 !important;
}

.boqIndicator{
  height: 31px;
  border-radius: 16px;
  background-color: #ffc300;
  font-size: 14px;
  font-weight: bold;
  padding-top: 6px;
}

.modal-width-change{
	min-width: 75rem;
}

.form-check-input-chng{
  margin-left: .1rem;
}

input[type=checkbox]:before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 13px;
  color: transparent !important;
  background: white;
  display: block;
  width: 17px;
  height: 17px;
  border: 1px solid #a5a5a5;
  margin-right: 7px;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
input[type=checkbox]:checked:before {

  color: black !important;
  margin-top: -0.2rem;
  content: "\f00c";
}
input[type=checkbox] {
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
  outline: none;
  content: none;  
}
.col-height{
  height: 100px;
}
.table1{
 border-collapse: none; 
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
#modalInvoiceId .table-bordered td, .table-bordered th {
    border: 1px solid #0e1013;
    font-size: .9rem;
}
#modalInvoiceId .table-bordered {
    border: 1px solid #1d1e1f;
}
#modalInvoiceId .table td, .table th {
    padding: 0.25rem;
}
#modalInvoiceId .minTdWidth{
  width: 30%;
}
#modalInvoiceId .spanChange{
  margin-left: -12px;
}
#modalInvoiceId .rowChng td:nth-child(1) {
  width: 60px;
  
  }
#modalInvoiceId .rowChng td:nth-child(2) {
  width: 290px;
  
  }  

#modalInvoiceId .rowChng td:nth-child(3) {
  width: 130px;
  
  }  
#modalInvoiceId .rowChng td:nth-child(4) {
  width: 40px;
  
  }  
#modalInvoiceId .rowChng td:nth-child(5) {
  width: 70px;
  
  }  
#modalInvoiceId table th{
  text-align: center;
}

.addSlibtn{
  width: 5rem;
  height: 3rem;
}

.selectBilling {
  border: 1px solid #ccc;
  overflow: hidden; 
  width: 189px;
  height: 35px;
  position: relative;
  display: block;
  border-radius: 4px;
}

.selectBilling select{       
  height: 35px;
  border: 0;
  font-size: 14px; 
  font-weight: 600;      
  width: 189px;
 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 4px;
}
.selectBilling:after {
  content:"\f107";
  font-family: FontAwesome;
  color: #000;
  position: absolute; right: 0; top: 4px;
  background: white;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;      
  pointer-events: none;
  box-sizing: border-box;   
  padding-right: 18px;
}
/*-------------------------*/
.select {
  border: 1px solid #ccc;
  overflow: hidden; 
  width: 207px;
  height: 35px;
  position: relative;
  display: block;
  border-radius: 4px;
}

.select select{       
  height: 35px;
  border: 0;
  font-size: 14px; 
  font-weight: 600;      
  width: 201px;
 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 4px;
}
.select:after {
  content:"\f107";
  font-family: FontAwesome;
  color: #000;
  position: absolute; right: 0; top: 4px;
  background: white;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;      
  pointer-events: none;
  box-sizing: border-box;   
  padding-right: 18px;
}
.category-btn{
    background-color: #8c031f!important;
    color: white;
    border: 0;
    padding: 7px 12px;
    font-size: 13px;
}

.category-btn.active{
    background-color:lightgray!important;
}