.bg-color{
  background-color: #e1e7e8;
}
.bg-white{
  min-height: 100%;
  border-radius: 3px 0 0 3px;
}
.alert {
  color: #e40335;
}
.formDiv{
  width: 60%;
}
button[type="submit"]:enabled{
  cursor: pointer;
  color: white;
  background: darkred;
}
.viewProfileForm .form-group{
  margin-bottom: 2rem;
}
.rk-ui-notification{
	top: 180px;
}