<div class="title_nav">
<!-- <a *ngIf="role=='catalog_viewer'" class="navbar-brand" [routerLink]="['/']"><img src="../../../assets/img/logo polka1.png" width="274px"></a>
</div> -->
<!--   <div class="brand">
    <p>Currently Serving Mumbai, Pune &amp; Ahmedabad</p>
    <a class="navbar-brand" href="#"><img src="assets/v3/img/imageslp/brand_black.png"></a>
    <img class="profileImg float-right" src="assets/v3/img/profile.jpeg">
    <a class="notif-icon" href=""><i class="fa fa-bell-o float-right" aria-hidden="true"></i></a> -->
<!--     <ul class="design_box">
      <li class="design">
        <a [routerLink]="['/']" routerLinkActive = "active" *ngIf=" isLoggedIn() &&  role && (projectAccess.length>0) && (projectAccess.indexOf(role) > -1) ">DASHBOARD</a>
      </li>
      <li class="nav-item dropdown design" *ngIf="isLoggedIn() &&  role ">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{role | replaceChar | uppercase}}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03" [hidden]="role=='designer'">
          <a class="dropdown-item light" [routerLink]="['/catalogue/list']" routerLinkActive="active" *ngIf=" (catalogueMgmtAccess.length>0) && (catalogueMgmtAccess.indexOf(role) > -1) ">Catalogue</a>
          <a class="dropdown-item light" [routerLink]="['/lead/list']" routerLinkActive="active" *ngIf="(leadMgmtAccess.length>0) && (leadMgmtAccess.indexOf(role) > -1) ">Lead Management</a>
          <a class="dropdown-item light" [routerLink]="['/user-roles/listusers']" routerLinkActive="active" *ngIf="(userMgmtAccess.length>0) && (userMgmtAccess.indexOf(role) > -1) ">User Management</a>
          <a class="dropdown-item light" [routerLink]="['/organisation/portfolio']" routerLinkActive="active" *ngIf="(portfolioAccess.length>0) && (portfolioAccess.indexOf(role) > -1) ">Portfolio</a>
          <a class="dropdown-item light"[routerLink]="['/projects/assigndesigner']" routerLinkActive="active" *ngIf="(role=='admin' || role=='design_head')">Project Management</a>
          <a class="dropdown-item light" [routerLink]="['/priceconfigurator']" routerLinkActive="active" *ngIf="role == 'customer' || role == 'admin'  ">Price Configurator</a>
           <a class="dropdown-item light" [routerLink]="['/quotation/list']" routerLinkActive="active" *ngIf=" (boqAcess.length>0) && (boqAcess.indexOf(role) > -1)  ">BOQ/BOM</a>
        </div>
      </li>

      <li class="nav-item dropdown design" *ngIf="isLoggedIn() &&  role">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PROFILE</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item light" [routerLink]="['/profile/view/'+userDetailService.current_user()?.id]" routerLinkActive="active"  *ngIf="(profileAccess.length>0) && (profileAccess.indexOf(role) > -1) ">View Profile</a>
            <a class="dropdown-item light" [routerLink]="['/profile/edit/'+userDetailService.current_user()?.id]" routerLinkActive="active">Edit Profile</a>
            <a class="dropdown-item light" [routerLink]="['/changepassword/'+userDetailService.current_user()?.email]" routerLinkActive="active" >
                Change Password
            </a>
            <a class="dropdown-item light" [routerLink]="['/logout']" (click) = "logOut()" *ngIf="isLoggedIn()">Logout</a>
          </div>
        </li>
    </ul> -->
  <!-- </div> -->
<!-- </div> -->