.modal-header-chng{
 background-image: url("../../../../assets/img/customer/image7.png");
 height: 130px;
}
.modal-title-change{
  color: white;

}
.iconbox{
  border-radius: 50%;
  background: white;
  width: 24px;
  height: 25px;
  opacity: 0.7;
}
.close-icon{
  float: center;
  font-size: 24px;
  font-weight: 400;
  padding-right: 5px;
}
.modal-body-change{
  background: white;
  padding-left: 44px;
  padding-right: 44px;
}
.an-textColor{
  color: #212529;
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
}
.footer-chng{
  border-top:none;
}
.container-fluid-chng{
  border-top: 1px solid #d8d4d4;
}

.table{
  border-collapse: separate;
  border-spacing: 0 5px;
}
.table td{
    padding: 0.7rem 0.75rem;
    vertical-align: middle;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    border: none;
}
.table th {
    padding: .9rem;
    vertical-align: middle;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    background-color: #5A5A5A;
}
.tableDiv tbody{
  background-color: #fff;
}
.tableDiv tbody tr{
  box-shadow: 1px 1px 7px 0px #dadada;
  border-radius: 5px;
}
.firstTh{
  border-radius: 5px 0 0 0;
}
.lastTh{
  border-radius: 0px 5px 0 0;
}
.boq-img{
  text-align: center;
}
.btn-close{
  cursor: pointer;
}





/* hide the tootip */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}



/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  margin-bottom: 5px;
  right: 0;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
  right: 90px;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}








/* hide the tootip */
[data-tooltip1]:before,
[data-tooltip1]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip1]:before {
  position: absolute;
  bottom: 150%;
  margin-bottom: 5px;
  
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip1);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  right: 0;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip1]:after {
  position: absolute;
  bottom: 150%;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
  right: 55px;
}

/* Show tooltip content on hover */
[data-tooltip1]:hover:before,
[data-tooltip1]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}







/* hide the tootip */
[data-tooltip2]:before,
[data-tooltip2]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}


/* Position tooltip above the element */
[data-tooltip2]:before {
  position: absolute;
  bottom: 150%; 
  margin-bottom: 5px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip2);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  right: 0;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip2]:after {
  position: absolute;
  bottom: 150%;
  right: 20px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip2]:hover:before,
[data-tooltip2]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

#SmsModal{
  z-index: 100000;
}

