.borderRight {
    border-right: 1px solid #ebebeb;
}

.marginTop {
    /*margin-top: 3.8rem;*/
    min-height: 90vh;
}

.loader {
    position: fixed;
    text-align: center;
    z-index: 99999;
    width: 100%;
    background-color: #fff;
    opacity: 0.9;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.ngx-pagination .current {
  background: #9E000A !important;
}
.ngx-pagination{
  padding-left: 0px !important;
}


.ngx-pagination .current {
    background: #9E000A !important;
}

@media (max-width: 767px) {
  .marginTop {
    min-height: 0vh !important;
  }
}