
<div class="navBar" style="background-color: #f3f3f3; padding: 1.2rem; margin: auto; display: block; text-align: center;">
  <img src="https://s3.amazonaws.com/socialicon/arrivae_new_logo.png">
</div>
