<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <div>
    This email is to notify and verify that the rake task <b> <%= @task_name %> <b> for environment <%= Rails.env.upcase %> is working.
  </div>


</body>
</html>
