<div class="row ss-top-menu">
  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <span class="ss-text-dark" style="vertical-align: -webkit-baseline-middle;">
    	Dashboard
    	<i class="rightArrow fa fa-angle-right"></i>
	</span>
    <span class="ss-text-dark" style="vertical-align: -webkit-baseline-middle;">
      Projects
      <i class="rightArrow fa fa-angle-right"></i>
    </span>
    <span class="ss-text-dark" style="vertical-align: -webkit-baseline-middle;">
      {{quotation.project_name}}
      <i class="rightArrow fa fa-angle-right"></i>
    </span>
    <span class="ss-text-dark" style="vertical-align: -webkit-baseline-middle;">
      BOQ
      <i class="rightArrow fa fa-angle-right"></i>
    </span>
    <span class="ss-text-dark" style="vertical-align: -webkit-baseline-middle;">
      {{quotation.reference_number}}
      <i class="rightArrow fa fa-angle-right"></i>
    </span>
    <span class="ss-text-dark" style="vertical-align: -webkit-baseline-middle;">
      Drawings

    </span>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
  </div>
</div>
<div class="rk-ui-notification" *ngIf="successalert">
  <span id="notificationMessageText">{{successMessage}}</span>
  <a class="close rk-linknotification" (click)="successalert=false">×</a>
</div>
<div class="rk-ui-notification err" *ngIf="erroralert"  style="z-index: 10000;">
	<span id="notificationMessageText">{{errorMessage}}</span>
	<a class="close rk-linknotification" (click)="erroralert=false">×</a>
</div>

<div class="row mt-4">
	<h6 _ngcontent-c15="" class="mb-3 borderbottom pt-3 pb-3 w-100 pl-4 pr-4">
		<span _ngcontent-c15="" class="mr-3">BOQ : {{quotation.reference_number}}</span>
		<!-- <span _ngcontent-c15="" class="pull-right">Total - ₹ {{quotation.total_amount}}</span> -->
	</h6>
</div>

<div class="row mt-1 ml-1 mr-1">
	<div class="col-sm-12">
		<ul class="nav nav-tabs tabs-chng mt-4"  id="myTab" role="tablist">
      	  <li class="nav-item nav-items">
      	    <a class="nav-link active addCursor text-center mr-3" (click)="getParentSet('line_items')" [ngClass]="{'active': selectedParentSet == 'line_items'}">Line Items</a>
      	  </li>
      	  <!-- <li class="nav-item nav-items">
      	    <a class="nav-link active addCursor text-center mr-3" (click)="getParentSet('drawings')" [ngClass]="{'active': selectedParentSet == 'drawings'}">Drawings</a>
      	  </li> -->
      	</ul>
	</div>
</div>


<div class="row pt-4 pb-4 ml-3 mr-3" *ngIf="selectedParentSet == 'drawings'" style="background-color: #fff;">
  <div class="col-12">
	  <button class="btn  bt-boq pull-right" data-target="#uploadCadModal" data-toggle="modal">Upload Drawings</button>
  </div>

</div>

<div class="container-fluid container-set">
  <div class="row" style="padding: 16px;">
    <div class="tableDiv" style="width: 100%; background-color: #fff;" >
      <div class="table-responsive mt-4" *ngIf="selectedParentSet == 'drawings'">
        <table class="table " *ngIf="files.length > 0" >
            <thead class="thead-dark">
                <tr>
                <th scope="col" class="firstTh">#</th>
                <th scope="col">FILE NAME</th>
                <th scope="col">TYPE</th>
                <th scope="col">STATUS</th>
                <th scope="col">REMARK</th>
                <th scope="col">UPLOADED AT</th>
                <th></th>
                <th class="lastTh"></th>
                </tr>
            </thead>
            <tbody lass="ss-tbody">
          	  <tr *ngFor="let file of files; let i = index" [attr.data-index]="i">
          	    <td style="min-width: 1rem;">{{i+1}}</td>
          	    <td  class="capitalize">
			            {{file.upload_name | replaceChar}}
			          </td>
			          <td style="min-width: 1rem;">{{file.upload_type | replaceChar}}</td>

			          <td style="min-width: 1rem;">{{file.status | replaceChar }}</td>
			          <td style="min-width: 1rem;">{{file.approval_comment }}</td>
			          <td style="min-width: 1rem;" class="capitalize">{{file.created_at | date:"dd MMMM, y @ h:mma"}}</td>

			          <td>
			          	<a href="{{ file.upload }}" class="download-change" target="_blank" style="float: left !important;">View</a>
			          </td>
			          <td>

			          	<input type="button" class="btn btn-pink" name="" value="Tag Items" (click) = "initTagging('init', file)"  *ngIf="(getObjSize(file.boqjobs) + getObjSize(file.custom_jobs) + getObjSize(file.extra_jobs) + getObjSize(file.modular_jobs_kitchen) + getObjSize(file.modular_jobs_wardrobe) + getObjSize(file.appliance_jobs)) <= 0">
                  <ng-container *ngIf="['approved','rejected'].includes(file.status) != true">
			          	  <input type="button" class="btn btn-pink" name="" value="update Tag" (click) = "initTagging('update',file)"  *ngIf="(getObjSize(file.boqjobs) + getObjSize(file.custom_jobs) + getObjSize(file.extra_jobs) + getObjSize(file.modular_jobs_kitchen) + getObjSize(file.modular_jobs_wardrobe) + getObjSize(file.appliance_jobs)+ getObjSize(file.service_jobs)) > 0">
                  </ng-container>  
			          </td>
         			</tr>

            </tbody>
        </table>
        <div class="col-md-12 not-found text-center" *ngIf="files && files.length<=0 ">
          <div class="boq-img">
            <img src="../../../assets/img/desktop.png" style="height: 250px;width: 300px">
          </div>
          <p class=" pb-4" style="font-size: 21px;text-align: center;color: dimgray">Nothing to show...</p>
        </div>
        <!-- <p>{{paymentForm.value | json}}</p> -->
      </div>

      <div class="table-responsive mt-4" *ngIf="selectedParentSet == 'line_items'">
    	<div class="col-12">
	      	<ul class="nav nav-tabs tabs-chng mt-4"  id="myTab" role="tablist">
	      	  <li class="nav-item nav-items">
	      	    <a class="nav-link active addCursor text-center mr-3" (click)="getSet('loose')" [ngClass]="{'active': selectedSet == 'loose'}">Loose Furniture</a>
	      	  </li>
	      	  <li class="nav-item nav-items">
	      	    <a class="nav-link active addCursor text-center mr-3" (click)="getSet('modular_kitchen')" [ngClass]="{'active': selectedSet == 'modular_kitchen'}">Modular Kitchen</a>
	      	  </li>
	      	  <li class="nav-item nav-items">
	      	    <a class="nav-link active addCursor text-center mr-3" (click)="getSet('modular_wardrobe')" [ngClass]="{'active': selectedSet == 'modular_wardrobe'}">Modular Wardrobe</a>
	      	  </li>
	      	  <li class="nav-item nav-items">
	      	    <a class="nav-link active addCursor text-center mr-3" (click)="getSet('service')" [ngClass]="{'active': selectedSet == 'service'}">Service</a>
	      	  </li>
	      	  <li class="nav-item nav-items">
	      	    <a class="nav-link active addCursor text-center mr-3" (click)="getSet('appliance')" [ngClass]="{'active': selectedSet == 'appliance'}">Appliance</a>
	      	  </li>
	      	  <li class="nav-item nav-items">
	      	    <a class="nav-link active addCursor text-center mr-3" (click)="getSet('custom')" [ngClass]="{'active': selectedSet == 'custom'}">Custom</a>
	      	  </li>
	      	  <li class="nav-item nav-items">
	      	    <a class="nav-link active addCursor text-center mr-3" (click)="getSet('extra')" [ngClass]="{'active': selectedSet == 'extra'}">Extra</a>
	      	  </li>

	      	</ul>

	      	<div class="row" *ngIf="selectedSet == 'loose'">
	      		<div class="col-md-12">
  			    <div class="tableDiv" style="width: 100%;" >
  			      <div class="table-responsive">
  			        <table class="table " *ngIf="loose_jobs_array.length > 0">
  			            <thead class="thead-dark">
			                <tr>
  			                <th scope="col" class="firstTh">#</th>
  			                <th scope="col">NAME</th>
  			                <th scope="col">PRICE</th>
  			                <th scope="col">QTY</th>
  			                <th scope="col">TOTAL AMT</th>
  			                <th scope="col">IMAGE</th>
  			                <th>SPACE</th>
  			                <th class="lastTh"></th>
			                </tr>
  			            </thead>
  			            <tbody lass="ss-tbody">
  			          	  <tr *ngFor="let job of loose_jobs_array; let i = index" [attr.data-index]="i">
  			          	    <td style="min-width: 1rem;">{{i+1}}</td>
  			          	    <td  class="capitalize">
  						            {{job.name | replaceChar}}
  						          </td>
  						          <td style="min-width: 1rem;">{{job.rate}}</td>
  						          <td style="min-width: 1rem;">{{job.quantity}}</td>
  						          <td style="min-width: 1rem;">{{job.amount}}</td>
  						          <td style="min-width: 1rem;">
                          <img src="{{job.image_urls}}" onError="this.src='../../../../assets/img/no_image.svg'" style = "max-width: 100px;">
                        </td>
  						          <td style="min-width: 1rem;">{{job.space}}</td>
  						          <td>
  						          </td>
  			         			</tr>

  			            </tbody>
  			        </table>
  			        <div *ngIf="loose_jobs_array.length <= 0">
  			        	<div class="col-md-12 not-found text-center" *ngIf="loose_jobs_array && loose_jobs_array.length<=0 ">
                    <div class="boq-img">
                      <img src="../../../assets/img/desktop.png" style="height: 250px;width: 300px">
                    </div>
                    <p class=" pb-4" style="font-size: 21px;text-align: center;color: dimgray">Nothing to show...</p>
                  </div>
  			        </div>
  			      </div>
  			    </div>
	      		</div>
	      	</div>
	      	<div class="row" *ngIf="selectedSet == 'modular_kitchen'">
	      		<div class="col-md-12">
	      			    <div class="tableDiv" style="width: 100%;" >
	      			      <div class="table-responsive">
	      			        <table class="table " *ngIf="modular_jobs_kitchen_array.length > 0">
	      			            <thead class="thead-dark">
	      			              <tr>
	      			                <th scope="col" class="firstTh">#</th>
	      			                <th scope="col">TYPE</th>
	      			                <th scope="col">MODULE</th>
	      			                <th scope="col">QTY</th>
	      			                <th scope="col">PRICE</th>
	      			                <th scope="col">WIDTH</th>
	      			                <th scope="col">IMAGE</th>
	      			                <th>SPACE</th>
	      			                <th class="lastTh"></th>
	      			              </tr>
	      			            </thead>
	      			            <tbody lass="ss-tbody">
	      			          	  <tr *ngFor="let job of modular_jobs_kitchen_array; let i = index" [attr.data-index]="i">
	      			          	    <td style="min-width: 1rem;">{{i+1}}</td>
      						          <td style="min-width: 1rem;">{{job.module_type | replaceChar}}</td>
      						          <td style="min-width: 1rem;">{{job.code}}({{job.dimensions}})</td>
      						          <td style="min-width: 1rem;">{{job.quantity}}</td>
      						          <td style="min-width: 1rem;">{{job.rate}}</td>
      						          <td style="min-width: 1rem;">N/A</td>
      						          <td style="min-width: 1rem;">
                              <img src="{{job.module_image_url}}" onError="this.src='../../../../assets/img/no_image.svg'" style = "max-width: 100px;">
                            </td>
      						          <td style="min-width: 1rem;">{{job.space}}</td>
      						          <td>
      						          </td>
	      			         			</tr>

	      			            </tbody>
	      			        </table>
	      			        <div *ngIf="modular_jobs_kitchen_array.length <= 0">
	      			        	<div class="col-md-12 not-found text-center" *ngIf="modular_jobs_kitchen_array && modular_jobs_kitchen_array.length<=0 ">
                          <div class="boq-img">
                            <img src="../../../assets/img/desktop.png" style="height: 250px;width: 300px">
                          </div>
                          <p class=" pb-4" style="font-size: 21px;text-align: center;color: dimgray">Nothing to show...</p>
                        </div>
	      			        </div>
	      			      </div>
	      			    </div>
	      		</div>
	      	</div>
	      	<div class="row" *ngIf="selectedSet == 'modular_wardrobe'">
	      		<div class="col-md-12">
	      			    <div class="tableDiv" style="width: 100%;" >
	      			      <div class="table-responsive">
	      			        <table class="table" *ngIf="modular_jobs_wardrobe_array.length > 0">
	      			            <thead class="thead-dark">
	      			                <tr>
		      			                <th scope="col" class="firstTh">#</th>
		      			                <th scope="col">TYPE</th>
		      			                <th scope="col">MODULE</th>
		      			                <th scope="col">QTY</th>
		      			                <th scope="col">PRICE</th>
		      			                <th scope="col">WIDTH</th>
		      			                <th scope="col">IMAGE</th>
		      			                <th>SPACE</th>
		      			                <th class="lastTh"></th>
	      			                </tr>
	      			            </thead>
	      			            <tbody lass="ss-tbody">
	      			          	  <tr *ngFor="let job of modular_jobs_wardrobe_array; let i = index" [attr.data-index]="i">
	      			          	    <td style="min-width: 1rem;">{{i+1}}</td>
      						          <td style="min-width: 1rem;">{{job.module_type | replaceChar}}</td>
      						          <td style="min-width: 1rem;">{{job.code}}({{job.dimensions}})</td>
      						          <td style="min-width: 1rem;">{{job.quantity}}</td>
      						          <td style="min-width: 1rem;">{{job.rate}}</td>
      						          <td style="min-width: 1rem;">N/A</td>
      						          <td style="min-width: 1rem;">
                              <img src="{{job.module_image_url}}" onError="this.src='../../../../assets/img/no_image.svg'" style = "max-width: 100px;">
                            </td>
      						          <td style="min-width: 1rem;">{{job.space}}</td>
      						          <td>
      						          </td>
	      			         			</tr>

	      			            </tbody>
	      			        </table>
	      			        <div *ngIf="modular_jobs_wardrobe_array.length <= 0">
	      			        	<div class="col-md-12 not-found text-center" *ngIf="modular_jobs_wardrobe_array && modular_jobs_wardrobe_array.length<=0 ">
                          <div class="boq-img">
                            <img src="../../../assets/img/desktop.png" style="height: 250px;width: 300px">
                          </div>
                          <p class=" pb-4" style="font-size: 21px;text-align: center;color: dimgray">Nothing to show...</p>
                        </div>
	      			        </div>
	      			      </div>
	      			    </div>
	      		</div>
	      	</div>
	      	<div class="row" *ngIf="selectedSet == 'service'">
	      		<div class="col-md-12">
  			    <div class="tableDiv" style="width: 100%;" >
  			      <div class="table-responsive">
  			        <table class="table " *ngIf="service_jobs_array.length > 0">
  			            <thead class="thead-dark">
  			              <tr>
      			                <th scope="col" class="firstTh">#</th>
      			                <th scope="col">ACTIVITY</th>
      			                <th scope="col">BASE RATE</th>
      			                <th scope="col">QTY</th>
      			                <th scope="col">UNIT</th>
      			                <th scope="col">AMOUNT</th>
      			                <th>SPACE</th>
      			                <th class="lastTh"></th>
  			                </tr>
  			            </thead>
  			            <tbody lass="ss-tbody">
  			          	  <tr *ngFor="let job of service_jobs_array; let i = index" [attr.data-index]="i">
  			          	    <td style="min-width: 1rem;">{{i+1}}</td>
  						          <td style="min-width: 1rem;">{{job.name | replaceChar}}</td>
  						          <td style="min-width: 1rem;">{{job.base_rate}}</td>
  						          <td style="min-width: 1rem;">{{job.quantity}}</td>
  						          <td style="min-width: 1rem;">{{job.unit}}</td>
  						          <td style="min-width: 1rem;">{{job.amount}}</td>
  						          <td style="min-width: 1rem;">{{job.space}}</td>
  						          <td>
  						          </td>
  			         			</tr>

  			            </tbody>
  			        </table>
  			        <div *ngIf="service_jobs_array.length <= 0">
  			        	<div class="col-md-12 not-found text-center" *ngIf="service_jobs_array && service_jobs_array.length<=0 ">
                    <div class="boq-img">
                      <img src="../../../assets/img/desktop.png" style="height: 250px;width: 300px">
                    </div>
                    <p class=" pb-4" style="font-size: 21px;text-align: center;color: dimgray">Nothing to show...</p>
                  </div>
  			        </div>
  			      </div>
  			    </div>
	      		</div>
	      	</div>
	      	<div class="row" *ngIf="selectedSet == 'appliance'">
	      		<div class="col-md-12">
  			    <div class="tableDiv" style="width: 100%;" >
  			      <div class="table-responsive">
  			        <table class="table " *ngIf="appliance_jobs_array.length > 0">
  			            <thead class="thead-dark">
  			              <tr>
      			                <th scope="col" class="firstTh">#</th>
      			                <th scope="col">TYPE</th>
      			                <th scope="col">APPLIANCE</th>
      			                <th scope="col">MAKE</th>
      			                <th scope="col">SKU</th>
      			                <th scope="col">QTY</th>
      			                <th scope="col">PRICE</th>
      			                <th scope="col">IMAGE</th>
      			                <th>SPACE</th>
      			                <th class="lastTh"></th>
  			                </tr>
  			            </thead>
  			            <tbody lass="ss-tbody">
  			          	  <tr *ngFor="let job of appliance_jobs_array; let i = index" [attr.data-index]="i">
  			          	    <td style="min-width: 1rem;">{{i+1}}</td>
  						          <td style="min-width: 1rem;">{{job.subcategory | replaceChar}}</td>
  						          <td style="min-width: 1rem;">{{job.name | replaceChar}}</td>
  						          <td style="min-width: 1rem;">{{job.make | replaceChar}}</td>
  						          <td style="min-width: 1rem;">{{job.vendor_sku}}</td>
  						          <td style="min-width: 1rem;">{{job.quantity}}</td>
  						          <td style="min-width: 1rem;">{{job.rate}}</td>
  						          <td style="min-width: 1rem;">
                          <img src="{{job.image_url}}" onError="this.src='../../../../assets/img/no_image.svg'" style = "max-width: 100px;">
                        </td>
  						          <td style="min-width: 1rem;">{{job.space}}</td>
  						          <td>
  						          </td>
  			         			</tr>

  			            </tbody>
  			        </table>
  			        <div *ngIf="appliance_jobs_array.length <= 0">
  			        	<div class="col-md-12 not-found text-center" *ngIf="appliance_jobs_array && appliance_jobs_array.length<=0 ">
                    <div class="boq-img">
                      <img src="../../../assets/img/desktop.png" style="height: 250px;width: 300px">
                    </div>
                    <p class=" pb-4" style="font-size: 21px;text-align: center;color: dimgray">Nothing to show...</p>
                  </div>
  			        </div>
  			      </div>
  			    </div>
	      		</div>
	      	</div>
	      	<div class="row" *ngIf="selectedSet == 'custom'">
	      		<div class="col-md-12">
  			    <div class="tableDiv" style="width: 100%;" >
  			      <div class="table-responsive">
  			        <table class="table " *ngIf="custom_jobs_array.length > 0">
  			            <thead class="thead-dark">
  			              <tr>
      			                <th scope="col" class="firstTh">#</th>
      			                <th scope="col">NAME</th>
      			                <th scope="col">DIMENSION</th>
      			                <th scope="col">CORE MATERIAL</th>
      			                <th scope="col">SHUTTER FINISH</th>
      			                <th scope="col">QUANTITY</th>
      			                <th scope="col">PRICE</th>
      			                <th scope="col">IMAGE</th>
      			                <th>SPACE</th>
      			                <th class="lastTh"></th>
  			                </tr>
  			            </thead>
  			            <tbody lass="ss-tbody">
  			          	  <tr *ngFor="let job of custom_jobs_array; let i = index" [attr.data-index]="i">
  			          	    <td style="min-width: 1rem;">{{i+1}}</td>
  						          <td style="min-width: 1rem;">{{job.name | replaceChar}}</td>
  						          <td style="min-width: 1rem;">{{job.dimension}}</td>
  						          <td style="min-width: 1rem;">{{job.core_material | replaceChar}}</td>
  						          <td style="min-width: 1rem;">{{job.shutter_finish | replaceChar}}</td>
  						          <td style="min-width: 1rem;">{{job.quantity}}</td>
  						          <td style="min-width: 1rem;">{{job.rate}}</td>
  						          <td style="min-width: 1rem;">
                          <img src="{{job.photo}}" onError="this.src='../../../../assets/img/no_image.svg'" style = "max-width: 100px;">
                        </td>
  						          <td style="min-width: 1rem;">{{job.space}}</td>
  						          <td>
  						          </td>
  			         			</tr>

  			            </tbody>
  			        </table>
  			        <div *ngIf="custom_jobs_array.length <= 0">
  			        	<div class="col-md-12 not-found text-center" *ngIf="custom_jobs_array && custom_jobs_array.length<=0 ">
                    <div class="boq-img">
                      <img src="../../../assets/img/desktop.png" style="height: 250px;width: 300px">
                    </div>
                    <p class=" pb-4" style="font-size: 21px;text-align: center;color: dimgray">Nothing to show...</p>
                  </div>
  			        </div>
  			      </div>
  			    </div>
	      		</div>
	      	</div>
	      	<div class="row" *ngIf="selectedSet == 'extra'">
	      		<div class="col-md-12">
  			    <div class="tableDiv" style="width: 100%;" >
  			      <div class="table-responsive">
  			        <table class="table " *ngIf="extra_jobs_array.length > 0">
  			            <thead class="thead-dark">
  			              <tr>
      			                <th scope="col" class="firstTh">#</th>
      			                <th scope="col">NAME</th>
      			                <th scope="col">SKU</th>
      			                <th scope="col">MAKE</th>
      			                <th scope="col">SPECIFICATION</th>
      			                <th scope="col">QUANTITY</th>
      			                <th scope="col">PRICE</th>
      			                <th scope="col">IMAGE</th>
      			                <th>SPACE</th>
      			                <th class="lastTh"></th>
  			                </tr>
  			            </thead>
  			            <tbody lass="ss-tbody">
  			          	  <tr *ngFor="let job of extra_jobs_array; let i = index" [attr.data-index]="i">
  			          	    <td style="min-width: 1rem;">{{i+1}}</td>
  						          <td style="min-width: 1rem;">{{job.name | replaceChar}}</td>
  						          <td style="min-width: 1rem;">{{job.vendor_sku}}</td>
  						          <td style="min-width: 1rem;">{{job.make | replaceChar}}</td>
  						          <td style="min-width: 1rem;">{{job.specifications}}</td>
  						          <td style="min-width: 1rem;">{{job.quantity}}</td>
  						          <td style="min-width: 1rem;">{{job.rate}}</td>
  						          <td style="min-width: 1rem;">
                          <img src="{{job.image_url}}" onError="this.src='../../../../assets/img/no_image.svg'" style = "max-width: 100px;">
                        </td>
  						          <td style="min-width: 1rem;">{{job.space}}</td>
  						          <td>
  						          </td>
  			         			</tr>

  			            </tbody>
  			        </table>
  			        <div *ngIf="extra_jobs_array.length <= 0">
  			        	<div class="col-md-12 not-found text-center" *ngIf="extra_jobs_array && extra_jobs_array.length<=0 ">
                    <div class="boq-img">
                      <img src="../../../assets/img/desktop.png" style="height: 250px;width: 300px">
                    </div>
                    <p class=" pb-4" style="font-size: 21px;text-align: center;color: dimgray">Nothing to show...</p>
                  </div>
  			        </div>
  			      </div>
  			    </div>
	      		</div>
	      	</div>


      	</div>
      </div>
    </div>
	</div>
</div>

<!-- Modal create for Vendor -->
<div id="uploadCadModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-change">
	    <div class="modal-header modal-header-chng">
	        <h4 class="modal-title modal-title-change">Upload File</h4>
	        <div class="iconbox">
	          <button type="button" class="close close-icon" data-dismiss="modal" (click)="resetForm()">&times;</button>
	        </div>
	    </div>

      <div class="modal-body modal-body-change">
		    <div class="row" >
		    	<div class="col-12" style="padding: 0">
		      	  <div class="form">
				        	<form [formGroup]="cadUploadForm">
				        	  <div class="row-change">
				        	    <div class="check">
				        	  	  <div class="row">
					              	<div class="col-md-6 mt-3">
					              		<label class="name">File Name <span class="text-danger">*</span></label>
					              		<input type="text" formControlName="upload_name" class="form-control" placeholder="Enter File Name">
					              	</div>
					              	<div class="col-md-6 mt-3">
					              		<label class="dimension">Type <span class="text-danger">*</span></label>
					              		<select formControlName="upload_type" class="form-control">
                              <option [attr.selected] = "true" disabled>Select upload type</option>
					              			<option value="furniture_drawings">Furniture Drawings</option>
<!-- 					              			<option value="assembly_guidelines">Assembly Guidelines</option> -->
					              		</select>
					              	</div>

					              	<div class="col-md-6 mt-3">
					              		<label class="core_material">Upload<span class="text-danger">*</span></label>
					              		<input type="file" formControlName="upload" class="form-control" (change) = "onChange($event)" >
					              	</div>
					              </div>
				        	    </div>
				            </div>
				            <div class="footer-changes">
			                <div class="row">
			                	<div class="col-md-12">
			                		<a class="nav-link  text-center" (click)="oncadUploadFormSubmit()">Submit</a>
			                	</div>
			                </div>
				            </div>
				        	</form>
		            </div>
		        </div>
		    </div>
      </div>
    </div>
  </div>
</div>
<!-- MOdal ends here -->

<!-- Modal tag items -->
<div id="taggingModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" style="max-width: 900px;">
    <div class="modal-content modal-change">
	    <div class="modal-header modal-header-chng">
	        <h4 class="modal-title modal-title-change">Tag Items</h4>
	        <div class="iconbox">
	          <button type="button" class="close close-icon" data-dismiss="modal" (click)="resetForm()">&times;</button>
	        </div>
	    </div>

      <div class="modal-body modal-body-change">
		    <div class="row" >
		    	<div class="col-12">
			      	<ul class="nav nav-tabs tabs-chng mt-4"  id="myTab" role="tablist">
			      	  <li class="nav-item nav-items">
			      	    <a class="nav-link active addCursor text-center mr-3" (click)="getSet('loose')" [ngClass]="{'active': selectedSet == 'loose'}">Loose Furniture</a>
			      	  </li>
			      	  <li class="nav-item nav-items">
			      	    <a class="nav-link active addCursor text-center mr-3" (click)="getSet('modular_kitchen')" [ngClass]="{'active': selectedSet == 'modular_kitchen'}">Modular Kitchen</a>
			      	  </li>
			      	  <li class="nav-item nav-items">
			      	    <a class="nav-link active addCursor text-center mr-3" (click)="getSet('modular_wardrobe')" [ngClass]="{'active': selectedSet == 'modular_wardrobe'}">Modular Wardrobe</a>
			      	  </li>
			      	  <li class="nav-item nav-items">
			      	    <a class="nav-link active addCursor text-center mr-3" (click)="getSet('service')" [ngClass]="{'active': selectedSet == 'service'}">Service</a>
			      	  </li>
			      	  <li class="nav-item nav-items">
			      	    <a class="nav-link active addCursor text-center mr-3" (click)="getSet('appliance')" [ngClass]="{'active': selectedSet == 'appliance'}">Appliance</a>
			      	  </li>
			      	  <li class="nav-item nav-items">
			      	    <a class="nav-link active addCursor text-center mr-3" (click)="getSet('custom')" [ngClass]="{'active': selectedSet == 'custom'}">Custom</a>
			      	  </li>
			      	  <li class="nav-item nav-items">
			      	    <a class="nav-link active addCursor text-center mr-3" (click)="getSet('extra')" [ngClass]="{'active': selectedSet == 'extra'}">Extra</a>
			      	  </li>

			      	</ul>

			      	<div class="row" *ngIf="selectedSet == 'loose'">
			      		<div class="col-md-12">
	      			    <div class="tableDiv" style="width: 100%;" >
	      			      <div class="table-responsive">
	      			        <table class="table " *ngIf="loose_jobs_array.length > 0">
	      			            <thead class="thead-dark">
	    			                <tr>
	      			                <th scope="col" class="firstTh">#</th>
	      			                <th scope="col">NAME</th>
	      			                <th scope="col">PRICE</th>
	      			                <th scope="col">QTY</th>
	      			                <th scope="col">TOTAL AMT</th>
	      			                <th scope="col">IMAGE</th>
	      			                <th>SPACE</th>
	      			                <th class="lastTh"></th>
	    			                </tr>
	      			            </thead>
	      			            <tbody lass="ss-tbody">
	      			          	  <tr *ngFor="let job of loose_jobs_array; let i = index" [attr.data-index]="i">
	      			          	    <td style="min-width: 1rem;">{{i+1}}</td>
	      			          	    <td  class="capitalize">
	      						            {{job.name | replaceChar}}
	      						          </td>
	      						          <td style="min-width: 1rem;">{{job.rate}}</td>
	      						          <td style="min-width: 1rem;">{{job.quantity}}</td>
	      						          <td style="min-width: 1rem;">{{job.amount}}</td>
	      						          <td style="min-width: 1rem;">
                                <img src="{{job.image_urls}}" onError="this.src='../../../../assets/img/no_image.svg'" style = "max-width: 100px;">
                              </td>
	      						          <td style="min-width: 1rem;">{{job.space}}</td>
	      						          <td>
	      						          	<div class="form-check">
	      						          	  <label class="form-check-label">
	      						          	    <input type="checkbox" class="form-check-input" value="true" (change) = "populateTags('Boqjob', job.id, $event)" [checked]="tag_array_ids.includes('Boqjob'+job.id)">
	      						          	  </label>
	      						          	</div>
	      						          </td>
	      			         			</tr>

	      			            </tbody>
	      			        </table>
	      			        <div *ngIf="loose_jobs_array.length <= 0">
	      			        	<div class="col-md-12 not-found text-center" *ngIf="loose_jobs_array && loose_jobs_array.length<=0 ">
                          <div class="boq-img">
                            <img src="../../../assets/img/desktop.png" style="height: 250px;width: 300px">
                          </div>
                          <p class=" pb-4" style="font-size: 21px;text-align: center;color: dimgray">Nothing to show...</p>
                        </div>
	      			        </div>
	      			      </div>
	      			    </div>
			      		</div>
			      	</div>
			      	<div class="row" *ngIf="selectedSet == 'modular_kitchen'">
			      		<div class="col-md-12">
			      			    <div class="tableDiv" style="width: 100%;" >
			      			      <div class="table-responsive">
			      			        <table class="table " *ngIf="modular_jobs_kitchen_array.length > 0">
			      			            <thead class="thead-dark">
			      			              <tr>
			      			                <th scope="col" class="firstTh">#</th>
			      			                <th scope="col">TYPE</th>
			      			                <th scope="col">MODULE</th>
			      			                <th scope="col">QTY</th>
			      			                <th scope="col">PRICE</th>
			      			                <th scope="col">WIDTH</th>
			      			                <th scope="col">IMAGE</th>
			      			                <th>SPACE</th>
			      			                <th class="lastTh"></th>
			      			              </tr>
			      			            </thead>
			      			            <tbody lass="ss-tbody">
			      			          	  <tr *ngFor="let job of modular_jobs_kitchen_array; let i = index" [attr.data-index]="i">
			      			          	    <td style="min-width: 1rem;">{{i+1}}</td>
	          						          <td style="min-width: 1rem;">{{job.module_type | replaceChar}}</td>
	          						          <td style="min-width: 1rem;">{{job.code}}({{job.dimensions}})</td>
	          						          <td style="min-width: 1rem;">{{job.quantity}}</td>
	          						          <td style="min-width: 1rem;">{{job.rate}}</td>
	          						          <td style="min-width: 1rem;">N/A</td>
	          						          <td style="min-width: 1rem;">
                                    <img src="{{job.module_image_url}}" onError="this.src='../../../../assets/img/no_image.svg'" style = "max-width: 100px;">
                                  </td>
	          						          <td style="min-width: 1rem;">{{job.space}}</td>
	          						          <td>
	          						          	<div class="form-check">
	          						          	  <label class="form-check-label">
	          						          	    <input type="checkbox" class="form-check-input" value="true" (change) = "populateTags('ModularJob', job.id, $event)" [checked]="tag_array_ids.includes('ModularJob'+job.id)">
	          						          	  </label>
	          						          	</div>
	          						          </td>
			      			         			</tr>

			      			            </tbody>
			      			        </table>
			      			        <div *ngIf="modular_jobs_kitchen_array.length <= 0">
			      			        	<div class="col-md-12 not-found text-center" *ngIf="modular_jobs_kitchen_array && modular_jobs_kitchen_array.length<=0 ">
                              <div class="boq-img">
                                <img src="../../../assets/img/desktop.png" style="height: 250px;width: 300px">
                              </div>
                              <p class=" pb-4" style="font-size: 21px;text-align: center;color: dimgray">Nothing to show...</p>
                            </div>
			      			        </div>
			      			      </div>
			      			    </div>
			      		</div>
			      	</div>
			      	<div class="row" *ngIf="selectedSet == 'modular_wardrobe'">
			      		<div class="col-md-12">
			      			    <div class="tableDiv" style="width: 100%;" >
			      			      <div class="table-responsive">
			      			        <table class="table" *ngIf="modular_jobs_wardrobe_array.length > 0">
			      			            <thead class="thead-dark">
			      			                <tr>
				      			                <th scope="col" class="firstTh">#</th>
				      			                <th scope="col">TYPE</th>
				      			                <th scope="col">MODULE</th>
				      			                <th scope="col">QTY</th>
				      			                <th scope="col">PRICE</th>
				      			                <th scope="col">WIDTH</th>
				      			                <th scope="col">IMAGE</th>
				      			                <th>SPACE</th>
				      			                <th class="lastTh"></th>
			      			                </tr>
			      			            </thead>
			      			            <tbody lass="ss-tbody">
			      			          	  <tr *ngFor="let job of modular_jobs_wardrobe_array; let i = index" [attr.data-index]="i">
			      			          	    <td style="min-width: 1rem;">{{i+1}}</td>
	          						          <td style="min-width: 1rem;">{{job.module_type | replaceChar}}</td>
	          						          <td style="min-width: 1rem;">{{job.code}}({{job.dimensions}})</td>
	          						          <td style="min-width: 1rem;">{{job.quantity}}</td>
	          						          <td style="min-width: 1rem;">{{job.rate}}</td>
	          						          <td style="min-width: 1rem;">N/A</td>
	          						          <td style="min-width: 1rem;">
                                    <img src="{{job.module_image_url}}" onError="this.src='../../../../assets/img/no_image.svg'" style = "max-width: 100px;">
                                  </td>
	          						          <td style="min-width: 1rem;">{{job.space}}</td>
	          						          <td>
	          						          	<div class="form-check">
	          						          	  <label class="form-check-label">
	          						          	    <input type="checkbox" class="form-check-input" value="true" (change) = "populateTags('ModularJob', job.id, $event)" [checked]="tag_array_ids.includes('ModularJob'+job.id)">
	          						          	  </label>
	          						          	</div>
	          						          </td>
			      			         			</tr>

			      			            </tbody>
			      			        </table>
			      			        <div *ngIf="modular_jobs_wardrobe_array.length <= 0">
			      			        	<div class="col-md-12 not-found text-center" *ngIf="modular_jobs_wardrobe_array && modular_jobs_wardrobe_array.length<=0 ">
                              <div class="boq-img">
                                <img src="../../../assets/img/desktop.png" style="height: 250px;width: 300px">
                              </div>
                              <p class=" pb-4" style="font-size: 21px;text-align: center;color: dimgray">Nothing to show...</p>
                            </div>
			      			        </div>
			      			      </div>
			      			    </div>
			      		</div>
			      	</div>
			      	<div class="row" *ngIf="selectedSet == 'service'">
			      		<div class="col-md-12">
	      			    <div class="tableDiv" style="width: 100%;" >
	      			      <div class="table-responsive">
	      			        <table class="table " *ngIf="service_jobs_array.length > 0">
	      			            <thead class="thead-dark">
	      			              <tr>
		      			                <th scope="col" class="firstTh">#</th>
		      			                <th scope="col">ACTIVITY</th>
		      			                <th scope="col">BASE RATE</th>
		      			                <th scope="col">QTY</th>
		      			                <th scope="col">UNIT</th>
		      			                <th scope="col">AMOUNT</th>
		      			                <th>SPACE</th>
		      			                <th class="lastTh"></th>
	      			                </tr>
	      			            </thead>
	      			            <tbody lass="ss-tbody">
	      			          	  <tr *ngFor="let job of service_jobs_array; let i = index" [attr.data-index]="i">
	      			          	    <td style="min-width: 1rem;">{{i+1}}</td>
	      						          <td style="min-width: 1rem;">{{job.name | replaceChar}}</td>
	      						          <td style="min-width: 1rem;">{{job.base_rate}}</td>
	      						          <td style="min-width: 1rem;">{{job.quantity}}</td>
	      						          <td style="min-width: 1rem;">{{job.unit}}</td>
	      						          <td style="min-width: 1rem;">{{job.amount}}</td>
	      						          <td style="min-width: 1rem;">{{job.space}}</td>
	      						          <td>
	      						          	<div class="form-check">
	      						          	  <label class="form-check-label">
	      						          	    <input type="checkbox" class="form-check-input" value="true" (change) = "populateTags('ServiceJob', job.id, $event)" [checked]="tag_array_ids.includes('ServiceJob'+job.id)">
	      						          	  </label>
	      						          	</div>
	      						          </td>
	      			         			</tr>

	      			            </tbody>
	      			        </table>
	      			        <div *ngIf="service_jobs_array.length <= 0">
	      			        	<div class="col-md-12 not-found text-center" *ngIf="service_jobs_array && service_jobs_array.length<=0 ">
                          <div class="boq-img">
                            <img src="../../../assets/img/desktop.png" style="height: 250px;width: 300px">
                          </div>
                          <p class=" pb-4" style="font-size: 21px;text-align: center;color: dimgray">Nothing to show...</p>
                        </div>
	      			        </div>
	      			      </div>
	      			    </div>
			      		</div>
			      	</div>
			      	<div class="row" *ngIf="selectedSet == 'appliance'">
			      		<div class="col-md-12">
	      			    <div class="tableDiv" style="width: 100%;" >
	      			      <div class="table-responsive">
	      			        <table class="table " *ngIf="appliance_jobs_array.length > 0">
	      			            <thead class="thead-dark">
	      			              <tr>
		      			                <th scope="col" class="firstTh">#</th>
		      			                <th scope="col">TYPE</th>
		      			                <th scope="col">APPLIANCE</th>
		      			                <th scope="col">MAKE</th>
		      			                <th scope="col">SKU</th>
		      			                <th scope="col">QTY</th>
		      			                <th scope="col">PRICE</th>
		      			                <th scope="col">IMAGE</th>
		      			                <th>SPACE</th>
		      			                <th class="lastTh"></th>
	      			                </tr>
	      			            </thead>
	      			            <tbody lass="ss-tbody">
	      			          	  <tr *ngFor="let job of appliance_jobs_array; let i = index" [attr.data-index]="i">
	      			          	    <td style="min-width: 1rem;">{{i+1}}</td>
	      						          <td style="min-width: 1rem;">{{job.subcategory | replaceChar}}</td>
	      						          <td style="min-width: 1rem;">{{job.name | replaceChar}}</td>
	      						          <td style="min-width: 1rem;">{{job.make | replaceChar}}</td>
	      						          <td style="min-width: 1rem;">{{job.vendor_sku}}</td>
	      						          <td style="min-width: 1rem;">{{job.quantity}}</td>
	      						          <td style="min-width: 1rem;">{{job.rate}}</td>
	      						          <td style="min-width: 1rem;">
                                <img src="{{job.image_url}}" onError="this.src='../../../../assets/img/no_image.svg'" style = "max-width: 100px;">
                              </td>
	      						          <td style="min-width: 1rem;">{{job.space}}</td>
	      						          <td>
	      						          	<div class="form-check">
	      						          	  <label class="form-check-label">
	      						          	    <input type="checkbox" class="form-check-input" value="true" (change) = "populateTags('ApplianceJob', job.id, $event)" [checked]="tag_array_ids.includes('ApplianceJob'+job.id)" >
	      						          	  </label>
	      						          	</div>
	      						          </td>
	      			         			</tr>

	      			            </tbody>
	      			        </table>
	      			        <div *ngIf="appliance_jobs_array.length <= 0">
	      			        	<div class="col-md-12 not-found text-center" *ngIf="appliance_jobs_array && appliance_jobs_array.length<=0 ">
                          <div class="boq-img">
                            <img src="../../../assets/img/desktop.png" style="height: 250px;width: 300px">
                          </div>
                          <p class=" pb-4" style="font-size: 21px;text-align: center;color: dimgray">Nothing to show...</p>
                        </div>
	      			        </div>
	      			      </div>
	      			    </div>
			      		</div>
			      	</div>
			      	<div class="row" *ngIf="selectedSet == 'custom'">
			      		<div class="col-md-12">
	      			    <div class="tableDiv" style="width: 100%;" >
	      			      <div class="table-responsive">
	      			        <table class="table " *ngIf="custom_jobs_array.length > 0">
	      			            <thead class="thead-dark">
	      			              <tr>
		      			                <th scope="col" class="firstTh">#</th>
		      			                <th scope="col">NAME</th>
		      			                <th scope="col">DIMENSION</th>
		      			                <th scope="col">CORE MATERIAL</th>
		      			                <th scope="col">SHUTTER FINISH</th>
		      			                <th scope="col">QUANTITY</th>
		      			                <th scope="col">PRICE</th>
		      			                <th scope="col">IMAGE</th>
		      			                <th>SPACE</th>
		      			                <th class="lastTh"></th>
	      			                </tr>
	      			            </thead>
	      			            <tbody lass="ss-tbody">
	      			          	  <tr *ngFor="let job of custom_jobs_array; let i = index" [attr.data-index]="i">
	      			          	    <td style="min-width: 1rem;">{{i+1}}</td>
	      						          <td style="min-width: 1rem;">{{job.name | replaceChar}}</td>
	      						          <td style="min-width: 1rem;">{{job.dimension}}</td>
	      						          <td style="min-width: 1rem;">{{job.core_material | replaceChar}}</td>
	      						          <td style="min-width: 1rem;">{{job.shutter_finish | replaceChar}}</td>
	      						          <td style="min-width: 1rem;">{{job.quantity}}</td>
	      						          <td style="min-width: 1rem;">{{job.rate}}</td>
	      						          <td style="min-width: 1rem;">
                                <img src="{{job.photo}}" onError="this.src='../../../../assets/img/no_image.svg'" style = "max-width: 100px;">
                              </td>
	      						          <td style="min-width: 1rem;">{{job.space}}</td>
	      						          <td>
	      						          	<div class="form-check">
	      						          	  <label class="form-check-label">
	      						          	    <input type="checkbox" class="form-check-input" value="true" (change) = "populateTags('CustomJob', job.id, $event)" [checked]="tag_array_ids.includes('CustomJob'+job.id)" >
	      						          	  </label>
	      						          	</div>
	      						          </td>
	      			         			</tr>

	      			            </tbody>
	      			        </table>
	      			        <div *ngIf="custom_jobs_array.length <= 0">
	      			        	<div class="col-md-12 not-found text-center" *ngIf="custom_jobs_array && custom_jobs_array.length<=0 ">
                          <div class="boq-img">
                            <img src="../../../assets/img/desktop.png" style="height: 250px;width: 300px">
                          </div>
                          <p class=" pb-4" style="font-size: 21px;text-align: center;color: dimgray">Nothing to show...</p>
                        </div>
	      			        </div>
	      			      </div>
	      			    </div>
			      		</div>
			      	</div>
			      	<div class="row" *ngIf="selectedSet == 'extra'">
			      		<div class="col-md-12">
	      			    <div class="tableDiv" style="width: 100%;" >
	      			      <div class="table-responsive">
	      			        <table class="table " *ngIf="extra_jobs_array.length > 0">
	      			            <thead class="thead-dark">
	      			              <tr>
		      			                <th scope="col" class="firstTh">#</th>
		      			                <th scope="col">NAME</th>
		      			                <th scope="col">SKU</th>
		      			                <th scope="col">MAKE</th>
		      			                <th scope="col">SPECIFICATION</th>
		      			                <th scope="col">QUANTITY</th>
		      			                <th scope="col">PRICE</th>
		      			                <th scope="col">IMAGE</th>
		      			                <th>SPACE</th>
		      			                <th class="lastTh"></th>
	      			                </tr>
	      			            </thead>
	      			            <tbody lass="ss-tbody">
	      			          	  <tr *ngFor="let job of extra_jobs_array; let i = index" [attr.data-index]="i">
	      			          	    <td style="min-width: 1rem;">{{i+1}}</td>
	      						          <td style="min-width: 1rem;">{{job.name | replaceChar}}</td>
	      						          <td style="min-width: 1rem;">{{job.vendor_sku}}</td>
	      						          <td style="min-width: 1rem;">{{job.make | replaceChar}}</td>
	      						          <td style="min-width: 1rem;">{{job.specifications}}</td>
	      						          <td style="min-width: 1rem;">{{job.quantity}}</td>
	      						          <td style="min-width: 1rem;">{{job.rate}}</td>
	      						          <td style="min-width: 1rem;">
                                <img src="{{job.image_url}}" onError="this.src='../../../../assets/img/no_image.svg'" style = "max-width: 100px;">
                              </td>
	      						          <td style="min-width: 1rem;">{{job.space}}</td>
	      						          <td>
	      						          	<div class="form-check">
	      						          	  <label class="form-check-label">
	      						          	    <input type="checkbox" class="form-check-input" value="true" (change) = "populateTags('ExtraJob', job.id, $event)" [checked]="tag_array_ids.includes('ExtraJob'+job.id)" >
	      						          	  </label>
	      						          	</div>
	      						          </td>
	      			         			</tr>

	      			            </tbody>
	      			        </table>
	      			        <div *ngIf="extra_jobs_array.length <= 0">
	      			        	<div class="col-md-12 not-found text-center" *ngIf="extra_jobs_array && extra_jobs_array.length<=0 ">
                          <div class="boq-img">
                            <img src="../../../assets/img/desktop.png" style="height: 250px;width: 300px">
                          </div>
                          <p class=" pb-4" style="font-size: 21px;text-align: center;color: dimgray">Nothing to show...</p>
                        </div>
	      			        </div>
	      			      </div>
	      			    </div>
			      		</div>
			      	</div>


		      	</div>
		      <div class="footer-changes" style="width:100%;">
              <div class="row">
              	<div class="col-md-12">
              		<a class="nav-link  text-center" (click)="tagItem()">Submit</a>
              	</div>
              </div>
            </div>
		    </div>
      </div>
    </div>
  </div>
</div>
<!-- MOdal ends here -->
