<div class="footer mt-5" style="text-align: center;padding: 1rem 0;background-color: #f3f3f3;">
  <div class="col-12">
    <p style="margin: 0;">JOIN US ON</p>
  </div>
  <div class="col-12">
    <a style="margin: 0 5px;" href="https://www.facebook.com/Arrivae-1947981418749602/" target="_blank"><img src="https://s3.amazonaws.com/socialicon/fb.jpg"></a>
    <a style="margin: 0 5px;" href="https://www.linkedin.com/company/13439634/" target="_blank"><img src="https://s3.amazonaws.com/socialicon/linkedin.jpg"></a>
    <a style="margin: 0 5px;" href="https://www.instagram.com/arrivae/" target="_blank"><img src="https://s3.amazonaws.com/socialicon/instag.jpg"></a>
    <a style="margin: 0 5px;" href="https://twitter.com/Arrivae1" target="_blank"><img src="https://s3.amazonaws.com/socialicon/twitter.jpg"></a>
    <a style="margin: 0 5px;" href="https://in.pinterest.com/arrivae1/" target="_blank"><img src="https://s3.amazonaws.com/socialicon/pin.jpg"></a>
  </div>
</div>