.table td{
    padding: 1rem 0.75rem;
    vertical-align: middle;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    border: none;
}
.minWidthForTd{
  min-width: 185px;
}
.table th {
    padding: .9rem;
    vertical-align: middle;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #9E9FA0;
    background-color: #ECF0F1 !important
}
.table{
  border-collapse: separate;
  border-spacing: 0 9px;
}
.tableDiv tbody{
  background-color: #fff;
}
.tableDiv{
  overflow-x:scroll;
}

.tableDiv tbody tr{
  box-shadow: 1px 1px 7px 0px #dadada;
  border-radius: 5px;
}
.firstTh{
  border-radius: 5px 0 0 0;
}
.lastTh{
  border-radius: 0px 5px 0 0;
}
.downloadBtn{
    border: 1px solid #8F0020;
    padding: 5px 10px;
    margin-top: 4px;
    color: #8F0020 !important;
}
.downloadBtn:hover{
    color: #fff !important;
    background-color: #8F0020;
}
.expanded-col{
    display: none;
}
.selectChnage{
    border-radius: 1px;
    width: 21%;
    color: #D3D3D3;
    display: inline;
    height: 100%;
    border: 1px solid #D3D3D3;
}
.tabs-chng{
   border-bottom: 1px solid #a09c9c;
   width: 265%;
}
.addCursor.active{
  border-bottom: 3px solid darkred !important;
}
.chng{
  font-weight: 400;
  font-size: 15px;

}

.nav-link.active.active{
  background:#ECF0F1;
  border-color: #ECF0F1;
}
.text-underline{
  margin-left: 2rem;
}
.text-format{
  margin-left: 2rem;
  color: #756e6e;
  line-height: 2em;
  font-family: 'roboto';
}
.row-format{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  margin-right: 0px;
}
.col-format{
  border-left: 3px solid #edf0f1;
  border-radius: 0;
  margin-bottom: 0;
}

.modal-open .modal.modal-center {
    display: flex!important;
    align-items: center!important;
    .modal-dialog {
        flex-grow: 1;
    }
}
.modal-top{
  top:30% !important;
}
.completed{
  background: #beeedd;
}
.rejected{
  background: #F7C8CF;
}
.completed,.rejected{
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}
.title-chnage{
    margin-left: 7rem;
    font-size: 21px;
    font-family: 'roboto';
    color: #505050;
}
.cheque-mode{
  display: none;
}
.neft-mode{
  display: none;
}
.select{
  font-family: 'roboto';
  color: #505050;
}
.ng-select {
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 21%;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}
.ng-select-container{
  border-radius: 0px !important;
}
.text-for-chng{
  color: darkred;
  font-weight: bold;
}
.modal-content-change{
  border-radius: 0rem;
  border: 1px solid white;
}
.modal-title-chng{
  text-align: center;
  
}
.modal-lg-chng{
      max-width: 70% !important;
}
.link{
  color: #555758;
}
.text-all{
  border-bottom: 2px solid #cec5c538;
}
.text-format-po{
  color: #8a7f7f40;
  font-weight: 500;
  font-family: 'roboto';
}
.po-chng{
  font-size: 13px;
  color: black;
  font-weight: 400;
  margin-left: 8px;
}
.text-muted-col{
  color: #565353;
  font-family: 'roboto';
}
.text-vendor{
  color: #d6d3d3;
  line-height: 3;
}
.text-vendor-col{
  margin-left: 16px;
  font-weight: 400 !important;
  color: black;
  font-size:13px;
}
.form-control-change{
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  font-size: 15px;
  font-family: 'roboto';

}
.form-check{
  display: inline-block;
  margin-bottom: 0;
  position: relative;
}
.ng-select-cnhg{
  width: 40% !important
}





