.sideNav{
  position: fixed;
  width: 16.6%;
  background-color: #fff;
  /*z-index: 1000;*/
}
a{
  color: #000;
}
a{
  text-decoration: none;
}
.logo{
  padding: 18px 25px;
  text-align: left;
  background-color: #ECF0F1;
}
.logo img{
	width: 125px;
}
.sideNav ul{
	list-style: none;
  padding-left: 0;
  overflow-y: auto;
  height: 80vh;
}
.sideNav li{
  font-size: 14px;
  padding: 10px 0 15px 5px;
  margin: 5px 8px;
  color: rgba(0, 0, 0, 0.85);
}
.sideNav li a{
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}
.sideNav li i{
  font-size: 26px;
  vertical-align: sub;
  min-width: 30px;
  text-align: center;
}
/*.sideNav .faIcon{
  margin: 0px 10px;
}*/
.sideNav li.activeMenu{
  background-color:ghostwhite;
}
 
 
.profileImg{
	padding: 5px 0;
  position: fixed;
  bottom: 0;
  width: 16.6%;
  border-top: 1px solid #ccc;
  background-color: #fff;
}
.profileImg img{
  width: 50px;
  border-radius: 30px;
  margin-left: 10px;
}
.profileDetail{
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.profileDetail h6{
  margin: 0;
}
.profileDetail p{
  margin: 0;
	font-size: 14px;
}
.adminDiv{
  position: fixed;
  bottom: 3.8rem;
  width: 16.6%;
}
.adminDiv ul{
  list-style: none;
  padding: 0;
}
.sprite-icon{
  width: 25px;
  height: 25px;
}

.dashboard-icon{
  background: url('../../../assets/img/sidenav.png') 0px 0px;
}

.leadmgmt-icon{
  background: url('../../../assets/img/sidenav.png') 108px 0px;
}

.designerlist-icon{
  background: url('../../../assets/img/sidenav.png') 0px 0px;
}

.portfolio-icon{
  background: url('../../../assets/img/sidenav.png') -26px 0px;
}

.catalogue-icon{
  background: url('../../../assets/img/sidenav.png') -55px 0px;
}

.usermgmt-icon{
  background: url('../../../assets/img/sidenav.png') 108px 0px;
}

.brokermgmt-icon{
  background: url('../../../assets/img/sidenav.png') 108px 0px;
}


.projectmgmt-icon{
  background: url('../../../assets/img/sidenav.png') 77px 0px;
}

.designermgmt-icon{
  background: url('../../../assets/img/sidenav.png') -26px 0px;
}

.escalatedlead-icon{
  background: url('../../../assets/img/sidenav.png') 77px 0px;
}

.priceconfig-icon{
  background: url('../../../assets/img/sidenav.png') 0px 0px;
}

.contactlead-icon{
  background: url('../../../assets/img/sidenav.png') 48px 0px;
}

.designerportfolio-icon{
  background: url('../../../assets/img/sidenav.png') -55px 0px;
}

.tasks-icon{
  background: url('../../../assets/img/sidenav.png') -648px 0px;
}

.emicalc-icon{
  background: url('../../../assets/img/sidenav.png') 25px 0px;
}

.calllogs-icon{
  background: url('../../../assets/img/sidenav.png') 0px 0px;
}

.smslogs-icon{
  background: url('../../../assets/img/sidenav.png') 0px 0px;
}

.rk-collapseDiv{
  margin-top: -5px;
  margin-left: 8px;
  margin-right: 8px;
  background: #f5f5f5;
}


.sideNav li.rk-activeSubMenuLink {
  /*color: #8F0020;*/
  margin-left: 25px;
}
.activeSubMenuLinkColor{
  color:#8C031F !important;
}
.submenu-container{
  font-size: 12px;
  font-weight: 500;
}







@media (min-width: 768px) {
  .mobLogo{
    display: none;
  }
  .mySideNavDiv{
    display: none;
  }
  
}
@media (max-width: 767px) {
  .sideNav, .adminDiv{
    display: none;
  }
  .marginTop {
    min-height: 0vh !important;
  }
  .mobLogo img{
    width: 111px;
  }
  .menuBtn{
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
  }
  .mobLogo{
    border-bottom: 1px solid #ccc;
  }
  .mySideNavDiv ul{
    list-style: none;
    padding-left: 1.7rem;
    margin-bottom: 0;
  }
  .mySideNavDiv li a{
    font-size: 16px;
  }
  .profileDetailDiv{
    background-color: #5a5a5a;
    padding: 10px 0;
  }
  .profileDetail{
    margin-left: 2rem;
  }
  .profileDetail h6{
    color: #fff;
  }
  .profileDetail p{
    color: #ccc;
    font-weight: 300;
    font-size: 12px;
    margin-top: 2px;
  }
  #profileDetails card{
    background-color: #ccc;
  }
  #profileDetails a{
    color: #000;
    padding: 0;
  }






  #mySideNavDiv{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    position: fixed;
    z-index: 5;
    top: 0;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #555;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #8F0020;
  }

  .sidenav .closebtn {
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 36px;
    font-weight: 300;
  }


}
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;    padding-bottom: 5rem;}
    .sidenav a {font-size: 18px;}
  }