
  .table td{
    padding: 0.7rem 0.75rem;
    vertical-align: middle;
    font-size: 13px !important ;
    color: rgba(0, 0, 0, 0.7);
    border: none;
}
.table th {
    padding: .9rem;
    vertical-align: middle;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    background-color: #5A5A5A;
}
.table{
  border-collapse: separate;
  border-spacing: 0 5px;
}
.tableDiv tbody{
  background-color: #fff;
}
.tableDiv{
  overflow-x:scroll;
}

.tableDiv tbody tr{
  box-shadow: 1px 1px 7px 0px #dadada;
  border-radius: 5px;
}
.firstTh{
  border-radius: 5px 0 0 0;
}
.lastTh{
  border-radius: 0px 5px 0 0;
}
#navcontainer {
  margin:0px auto;
  display:table;
  white-space:nowrap;
}
.tabs-chng{
  border-bottom: none;
}
.nav-items{
  min-width: 170px;
}
ul
{
  color: gray;
  margin-top: 40px;
}
.addCursor.active{
  color: #980029;
  border-color: #fff #fff #fff;
}
.addCursor{
  font-size: 14px;
  font-weight: bold;
}
.container-set{
  background-color: white;
}
.iconBox{
  padding: 11px;
  text-align: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  background: #ffffff;
}

.iconBox i {
  font-size: 18px;
}
.ui-notification{
  padding: 10px;
  z-index: 1000;
  position: fixed;
  width: 450px;
  background-color: #5cb85c;
  color: #fff;
  top: 10px;
  font-size: 14px;
  right: 10px;
  opacity: 0.9;
  transition: opacity ease 1s;
  box-shadow: 5px 5px 10px rgba(0,0,0,.3);
}
.linknotification{
  top: 0px;
  right: 10px;
  position: absolute;
}
.borderbottom {
  border-bottom: 1px solid lightgray;
}
.submitButton{
  background: #fff;
    border: 2px solid #d4546d;
    border-radius: 5px;
    color: #8c031f;
    padding: 5px 10px;
    width: 100px;
    font-size: 14px;
}
button.cartBtn{
  background-color: #8C031F;
  color: #fff;
  padding: 8px 30px;
  border-radius: 5px;
  border-color: #8C031F;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}
.fontsize1{
  font-size: 14px;
  font-weight: bold;
}
.nestedRemoveBtn{
  height: 20px;
  width: 22px;
  background: #8c031f;
  color: #fff;
  border-radius: 50%;
  padding: 3px 4px;
} 

.addProductModalClose, .addExtrastModalClose{
  margin-top: -32px;
  outline: none;
}  
.addProductModalClose, .addExtrastModalClose{
  font-size: 35px;
  color: gray;
  margin-top: -25px;
}
.marg-chng{
  margin: 12px 0px 0px 15px;
}
.aa-text{
  font-size: 14px;
  font-family: FaktProSoft, "Helvetica Neue", helvetica, arial, sans-serif;
  color: gray;
}
.close-change{
  background: white;
  height: 35px;
  margin-top: 13px;
  border-radius: 20px;
} 
.selectCatalogue{
  width: 9rem;
  display: inline-block;
}
select.selectCatalogue.form-control:not([size]):not([multiple]){
  height: calc(2.5rem + 2px);
}
select.selectCatalogue.form-control{
  font-size: 0.9rem;
}
span.sideOption{
  vertical-align: text-top;
}
#addExtrasModal .card:hover, 
#addAddonModal .card:hover, #addoptionalAddonModal .card:hover{
  box-shadow: 0px 0px 12px 3px #ccc;
}
#addExtrasModal .card:hover button.button,
#addAddonModal .card:hover button.button, #addoptionalAddonModal .card:hover button.button
{
  display: block;
  position: absolute;
  bottom: -33px;
}
#addProductModal .productCard:hover button.button{
  display: block;
}
#addProductModal .productCard button.button{
  display: none;
}
#addProductModal .card-img-top, #addExtrasModal .card-img-top,
#addAddonModal .card-img-top, #addoptionalAddonModal .card-img-top, 
#moduleCodeModal .card-img-top{
  width: auto;
  height: 8rem;
  padding-left:10%;
  padding-right:10%;
}
#addProductModal .card-body {
  height: 6.5rem;
  /* overflow: auto; */
}
#addProductModal .card .textColor1, #addExtrasModal .card .textColor1,
#addAddonModal .card .textColor1, #addoptionalAddonModal .card .textColor1,
#moduleCodeModal .card .textColor1, #addhandleModal .card .textColor1{
  color: #888;
  font-size: .9rem;
  word-spacing: 3px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
  width: 90%;
}
#addProductModal .card .textColor2, #addExtrasModal .card .textColor2,
#addAddonModal .card .textColor2, #addoptionalAddonModal .card .textColor2,
#moduleCodeModal .card .textColor2, #addhandleModal .card .textColor2{
  font-size: 14px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
  width: 90%;
}  
.quantityInput.form-control {
  width: 50%;
}
.details-info{
    background-color: white;
    height: 50px;
    border-bottom: 1px solid lightgray;
    color: #93001E;
    /* margin: 0px; */
    font-weight: bold;
}
.details-infos{
  background-color: white;
  /*height: 300px;*/

}
.text-infos{
 font-size: 20px;
  color: #333333;
  margin: 12px 0px 0px 15px;
  font-weight: bold;
}
.skuBtn{
  font-size: 15px;
  padding: 7px 8px;
  font-weight: normal;
}
#addProductModal .modal-dialog, #addExtrasModal .modal-dialog,
#addAddonModal .modal-dialog, #addoptionalAddonModal .modal-dialog,
#addhandleModal .modal-dialog{
  max-width: 100%;
}
.sec-chng{
  margin-top: -57px;
}

#addProductModal .modal-change, #addExtrasModal .modal-change,
#addAddonModal .modal-change, #addoptionalAddonModal .modal-change{
  background-color: #EBF0F1;
  border-radius: 0px 0px 0px 0px;
  /*width: 100%;*/
  border:none;
}

.info-chnage{
  background-color: white;
  margin-left: -13px;
  height: 400px;
}
.infos-change{
  margin: 24px 0px 0px 5px;
  color: gray;
}

.text-chng{
    font-size: 1.5rem;
    color: #5a5a5a;
    font-size: 20px;
    letter-spacing: 1.5px;
}
.price-chng{
    width: 200px;
    color: #8c031f;
    margin-top: 21px;
    font-size: 23px;
    font-weight: bold;
}

.sku-chng{
  color: #515151;
  margin-top: 28px;
  font-size: 16px
}

.cl-chng{
  background-color: white;
}

.cl-chngs{
  border-left: 2px solid #F7F7F7;
  background-color: white;
}
.img-chng{
  background-color: #F7F7F7;
  height: 130px;
}
.body-chng{
  height:5.5rem;
}
#addProductModal button.button, #addExtrasModal button.button,
#addAddonModal button.button, #addoptionalAddonModal button.button{
  background-color: #8C031F;
  border-radius: 0 0 0px 0px;
  box-shadow: 0px 3px 12px 3px #a5a5a5;
}
 #addExtrasModal button.button,
#addAddonModal button.button, #addoptionalAddonModal button.button{
  display: none;
}
.rk-ui-notification, .rk-ui-notification.err{
  z-index: 999999;
}

.service-edit-mode-off{
  display: block;
}

.service-edit-mode-on{
  display: none;
}

.fieldsetBorder{
  border: 1px solid #dad2d2;
    padding: 10px;
    border-radius: 5px;
}

.ss-searchbox_extra{
  width: 60%;
}

.highlighted-box{
  padding-top: 10px;
  border: 2px solid red;
  margin: 6px;
  box-shadow: 1px 0px 7px rgb(84, 77, 79)
}
.custom-hr::before{
  content: "OR";
  position: absolute;
  margin-top: -10px;
  margin-left: 45%;
  color: gray;
  background: #fff;
  padding: 0px 6px;
  font-size: 14px;
}
.hrTag{
  margin: 2rem 0;
}

.link-color{
  color: #07c!important;
}


.product-card-img{
  height: 250px;
  max-width: 100%;
  object-fit: scale-down;
  border: solid 1px #e2e5e7;
  overflow: hidden;
}
.product-card-text{
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 500;
}
.borderSeparator{
  border-bottom: 1px solid #8c031f;
  /*margin-left: -15px;
  margin-right: -15px;*/
}
.searchboxRow {
  border-radius: 4px;
  background-color: #d5d9da;
  box-shadow: 0 0 0 0 #bdbdbd;
}
.searchboxRow .ss-searchbox{
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cacdce;
}
.searchboxRow .advancefiltertext{
  font-size: 12px;
  color: #8c031f;
  line-height: 36px;
}   
.sidenav-overlay {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.sidenav-overlay .backdropDiv{
  background: #000;
  opacity: 0.4;
}
.sidenav-overlay .filterDiv{
  background: #fff;
}
.overlay_closebtn {
  font-size: 26px;
  color: #5a5a5a;
}
.wrapper-dropdown-1 {
  position: relative;
  padding: 10px 38px 10px 10px;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0 0 5px 0 rgba(189, 189, 189, 0.5);
  /*overflow: hidden;*/
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrapper-dropdown-1:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -6px;
  border-left: 6px solid transparent;
  border-right: 5px solid transparent;
  border-top: 9px solid #2f2d2d;
  border-radius: 2px;  
}
.wrapper-dropdown-1 .spanText{
  color: #202021;
  font-size: 14px;
}

.dd-dropdown {
  background: #fff;
  position: absolute;
  width: 100%;
  border: 1px solid #e6e6e6;
  max-height: 250px;
  overflow-y: auto;
  z-index: 9;
}
.dd-dropdown li {
  font-size: 13px;
  list-style: none;
}
.wrapper-dropdown-1.active:after {
  border-color: #9bc7de transparent;
  border-width: 6px 6px 0 6px ;
  margin-top: -3px;
}

.dd-countbox {
  width: 40px;
  border-radius: 10px;
  background-color: #d3d4d8;
  display: inline;
  padding: 2px 4px;
  font-size: 12px;
  text-align: center;
}

/* The container */
.checkbox-container {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 60%;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkbox-checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkbox-checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkbox-checkmark {
    background-color: #8c031f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkbox-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkbox-checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.selectedBlocks{
  border-radius: 4px;
  border: solid 1px #979797;
  color: #979797;
  margin: 4px;
  font-size: 12px;
}
.selectedElementsText{
  font-size: 14px;
  color: #202021;
  line-height: 36px;
}
.sideoverlay-filterHeading{
  font-size: 14px;
  color: #5a5a5a;
  font-weight: 500;
}
.sideoverlay-minusicon{
  color: #a3a3a3;
  top: -3px;
  position: relative;
  font-size: 20px;
  font-weight: 200;
}
:host ::ng-deep .irs-bar {
  height: 5px!important;
  top: 33px!important;
  border-top: 1px solid #8c031f!important;
  border-bottom: 1px solid #8c031f!important;
  background: #428bca!important;
  background: linear-gradient(to top, #8c031f 0%,#8c031f 100%)!important;
}
:host ::ng-deep .irs-shadow {
  height: 0px!important;
}
:host ::ng-deep .irs-slider:hover {
  background: #8c031f!important;
}
:host ::ng-deep .irs-line {
  height: 5px!important;
  top: 33px!important;
}
:host ::ng-deep .irs-slider {
  top: 27px!important;
  width: 16px!important;
  height: 16px!important;
  border: 1px solid #8c031f!important;
  background: #DDD!important;
  background: #8c031f!important;
  cursor: pointer!important;
}
:host ::ng-deep .irs-from, :host ::ng-deep .irs-to, :host ::ng-deep .irs-single {
  /*background: #8c031f!important;*/
}
:host ::ng-deep .irs-from[style]{
  left: 0!important;
}
:host ::ng-deep .irs-to[style]{
  /*left: 56%!important;*/
}

:host ::ng-deep .irs-min[style], :host ::ng-deep .irs-max[style]{
  visibility: hidden!important;
}
:host ::ng-deep .irs-single[style]{
  left: 0%!important;
}
#allproductsRow{
  background:#ECF0F1; 
  border-color:#ECF0F1;
}

.img-scaledown{
  object-fit: scale-down;
}
.cursor-notallowed{
  cursor: not-allowed;
}

#smartBoqModal label{
  color: #848484;
  font-size: 14px;
}
.modalboxHeader{
  background: #F4f4f4;
  padding-top: 0px;
}
.modalTitle{
  padding: 10px 18px;
  position: relative;
  bottom: -17px;
  background: #fff;
  color: #848484;
  font-size: 16px;
  font-weight: normal;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#layoutCustomizationModal .modal-header, #customizationModalMk .modal-header,
#customizationModal .modal-header{
  background: #F4f4f4;
  padding-top: 0px;
}
#layoutCustomizationModal label{
  color: #848484;
}
.addonrow{
  border: 1px solid #d3d3d3;
}
    
.optaddonrow label{
  font-size: 15px
}

.opt-background{
  background-color:red!important;
}
.minWidthForTd{
  min-width: 165px;
}
#applianceModalDialog{
  max-width: 100%;
  max-height: 100%;
}

.width-90{
  width:90%!important;
}
.base_amt{
  width:40%!important;
}
.cursor-pointer{
  cursor: pointer;
}

.aspect-ratio-appliance-img{
  height: 250px;
   max-width: 100%;
   -o-object-fit: scale-down;
   object-fit: scale-down;
   border: solid 1px #e2e5e7;
   overflow: hidden;
}
.aspect-ratio-appliance-img-add{
  height: 100px;
  width:100px;
     max-width: 100%;
     -o-object-fit: scale-down;
     object-fit: scale-down;
     border: solid 1px #e2e5e7;
     overflow: hidden;
}
.aspect-ratio-appliance-img-row{
  height: 70px;
  max-width: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  border: solid 1px #e2e5e7;
  overflow: hidden;
}
.large-img{
    max-width: 90%;
    max-height: 500px;
    width: auto;
    height: auto;
}


.variation-img-container{
  width: 70px;
  height: 70px;
  float: left;
  cursor: pointer;
  margin-right: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}

.variation-img-container.active{
  border: 4px solid #89081c;
}

.variation-img {
    height: 100%;
    width: 100%;
}

::ng-deep .ngxImageZoomContainer{
  overflow: visible !important;
}

::ng-deep .ngxImageZoomFullContainer{
  width: 400px !important;
  height: 400px !important;
  overflow: visible !important;
  z-index: 999 !important;
}

:ng-deep .ngxImageZoomFull{
  z-index: 9999 !important;
}

.zoomer-container{
  position: absolute;
  min-width: 200px;
  min-height: 100px;
  background-color: #fff;
  z-index: 9999;
  border: 1px solid #bbb;
  left: 0rem;
  display: none;
}

.img-zoom-container {
  position: relative;
} 

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

/*.zoomer-container{
  position: absolute;
  min-width: 200px;
  min-height: 100px;
  background-color: #fff;
  z-index: 9999;
  border: 1px solid #bbb;
  left: 0rem;
  display: none;
}*/

.img-zoom-result {
  border: 1px solid #d4d4d4;
    width: 400px;
    height: 400px;
    margin-top: -25rem;
    z-index: 9999;
    position: absolute;
    margin-left: 36rem;
}


/* css for carousel*/
#container {
    width: 100%;
    margin: 1em auto;
    padding: 0;
    background:#ECECEC;
}

.items {
    background:#ECECEC;
}

#left, #right { 
    margin: 0px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.controls{
  top:54%;
}

:host ::ng-deep .controls{
  top: 54% !important;
}
.img-thumb{
  cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

:host ::ng-deep .button:focus {
  outline: 0px dotted !important;

}


/*----*/
.button1 {
  position: absolute;
  width: 500px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button1 a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.items:hover {
    background: #cccccca6;
    opacity: 0.5;
}


/* css for carousel*/
#container {
    width: 100%;
    margin: 1em auto;
    padding: 0;
    background:#ECECEC;
}

.items {
    background:#ECECEC;
}

#left, #right { 
    margin: 0px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.controls{
  top:54%;
}

:host ::ng-deep .controls{
  top: 54% !important;
}
.img-thumb{
  cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

:host ::ng-deep .button:focus {
  outline: 0px dotted !important;

}


/*----*/
.button1 {
  position: absolute;
  width: 500px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button1 a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.items:hover {
    background: #cccccca6;
    opacity: 0.5;
}

/* css for carousel*/
#container {
    width: 100%;
    margin: 1em auto;
    padding: 0;
    background:#ECECEC;
}

.items {
    background:#ECECEC;
}

#left, #right { 
    margin: 0px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.controls{
  top:54%;
}

:host ::ng-deep .controls{
  top: 54% !important;
}
.img-thumb{
  cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

:host ::ng-deep .button:focus {
  outline: 0px dotted !important;

}


/*----*/
.button1 {
  position: absolute;
  width: 500px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button1 a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.items:hover {
    background: #cccccca6;
    opacity: 0.5;
}
.mainDiv{
  border: 1px solid lightgray;
  width: 400px;
  margin-left: 3.5rem;
}
:host ::ng-deep .arrow{
  background: darkred !important;
}
:host ::ng-deep.ui-carousel-item{
  background: white !important;
}
:host ::ng-deep.dot{
  background: #8c031f !important;
}
:host ::ng-deep.middle{
  bottom: -5px!important
}



/* csss for second carousel*/
.img-fluid.active{
  border: 2px solid #8c031f;

}
@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}


.container-set-change  {
    background: #231f20;
    border-radius: 1px;
}
.ss-searchbox {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 22px;
    background-color: rgba(255, 255, 255, 0.3);
    border:1px solid lightgrey !important;
}
.ss-searchbox i {
                      
    color: white;
    font-size: 1rem;
}
.ss-searchbox input {
    width: 93%;
    border: 0;
    padding: 0 1rem;
    font-size: 0.8rem;
    background-color: rgba(255, 255, 255, -0.7);
    color: black;
}
.ss-searchbox {
    border: 0px;
    border-radius: 17px;
    padding: 9px 10px 9px 10px;
    border:1px solid lightgrey!important;
}
.topnav {
    overflow: hidden;
    /* background-color: #fff; */
    padding-bottom: 1%;
    padding-top: 1%;
  }
  
.menu-item a {
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    /* font-family: SourceSansPro; */
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #231f20;
}



.menu-item a:hover {
    /* background-color: #ddd; */
    color: #000;
}

.menu-item a.active {
    /* background-color: grey; */
    color: #000;
}

.dropdown-submenu {
    position: relative;
}
  
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.wrapper-dropdown-1{
    position: relative;
    padding: 3px 38px 4px 10px;
    outline: none;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #ece4e4;
    /* box-shadow: 0 0 5px 0 rgba(189, 189, 189, 0.5); */
    /* box-shadow: 0 -1px 3px 0 rgba(84, 76, 76, 0.78); */
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 5px;
}

.dd-dropdown{
    background: #fff;
    position: absolute;
    width: 100%;
    border: 1px solid #e6e6e6;
    max-height: 250px;
    overflow-y: auto;
    z-index: 9;
    top: -8% !important;
    left: -11% !important;
    transform: translate3d(10px, 35px, 0px) !important;
}

.dd-dropdown-lead{
    background: #fff;
    position: absolute;
    width: 100%;
    border: 1px solid #e6e6e6;
    max-height: 250px;
    overflow-y: auto;
    z-index: 9;
    top: -8% !important;
    left: -8% !important;
    transform: translate3d(10px, 35px, 0px) !important;
}

.dd-dropdown-dimensions{
    background: #fff;
    position: absolute;
    width: 100%;
    border: 1px solid #e6e6e6;
    max-height: 250px;
    overflow-y: auto;
    z-index: 9;
    top: -8% !important;
    left: -8% !important;
    transform: translate3d(10px, 35px, 0px) !important;   
}

.dd-dropdown-sort-price{
    background: #fff;
    position: absolute;
    width: 100%;
    border: 1px solid #e6e6e6;
    max-height: 250px;
    overflow-y: auto;
    z-index: 9;
    top: -8% !important;
    left: -5% !important;
    transform: translate3d(10px, 35px, 0px) !important;
}
.dropdown-toggle{
    /* font-family: SourceSansPro-Regular; */
    color: #707070;
    font-size: 14px;
}
.labels{
    color: #231f20;
    font-size: 14px;
}
.black-borderSeparator{
    border-bottom: 1px solid #d8d1d1;
    margin-left: -15px;
    margin-right: -15px;
}

 

  .-container {
    position: relative;
    background-color: #FFF;
    border: 1px solid #bbc0c4;
    border-radius: 5px;
    padding: 16px;
    font-size: 13px;
    box-shadow: 0 4px 8px rgba(59,64,69,0.2);
    width: 85%;
}
.tag-popup .-arrow.-top {
    display: block;
    transform: rotate(45deg);
    top: -1px;
}
/*.tag-popup .-arrow {
    position: absolute;
     left: 50%;
}*/
 
.mb12 {
    margin-bottom: 12px !important;
}
    #Div4 {
  display: none;
  }
  
 #mainDiv{
  display: none;
}
/*.tag-popup {
    width: 340px;
    padding: 12px;
}*/


.tag-popup{
    display: block;
    position: absolute;
     z-index: 99;
}
ul {
  list-style-type: none;
  padding-left: 0px;
  white-space: nowrap;
}
 
.border-right {
    border-right: 1px solid black;
    padding-right: 122px;
}

 .bcJJDU {
    cursor: pointer;
     
}
/* li.current:after{
border-top: 10px solid transparent;
border-bottom: 12px solid transparent;
border-left: 12px solid #f5f5f5e0;
position: absolute;
z-index: 1;
bottom: 8px;
left: 151%;
content: "";
}*/
.newFont .nav-link.ss-nav-link {
    border: 0 !important;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    padding: 0.6rem 1rem;
    text-shadow: none;
    color: #616161;
    cursor: pointer;
}
 
.newFont .nav-link.ss-nav-link.active {
    color: #8F003E;
}
a:active {
 color: #8F003E;
}
li{
 color: darkgrey;
}
.tubs{
    color: black;
 
}

input[type="checkbox"]{
    -webkit-appearance: initial;
    appearance: initial;
    background: #fff;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    position: relative;
}

input[type="checkbox"]:checked {
    background: #8f0020;
}

.mtb-2{
    padding-top: 2.5rem!important;
    padding-bottom: 2rem!important;
}
.fs-18{
    font-size: 18px !important;
}

.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-normal{
    font-weight: normal;
}
.catlogue-product-name{
    font-size: 15px;
    font-weight: 600;
    color: #231f20;
    font-family: 'Source Sans Pro', sans-serif;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.cat-units-label{
    font-size: 14px;
    color: #231f20;
}
.cat-sold-qty{
    font-family: Roboto !important;
    font-size: 14px;
    color: #231f20;
}

.cat-prod-price{
    font-weight: normal;
    font-size: 14px;
    color: #6d6567!important;
}
.saved-products-heart-label{
    font-family:FontAwesome 'Source Sans Pro', sans-serif;
    color:#8f0020;
    font-size: 14px;
    font-weight: normal;
}
.pt7b5{
    padding: 7% 0% 5% 0%;
}
.dropdown-toggle::after {
    display:none;
 }

 .product-card-img{
    max-height: 170px;
    max-width: 170px;
    margin: auto;
 }

 .card{
    font-family: 'Source Sans Pro', sans-serif;
 }

 .card.new::before{
    content: 'NEW';
    background-image: url(/assets/img/new-flag.svg);
    width: 70px;
    height: 28px;
    position: absolute;
    left: -7px;
    top: 8px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
 }

 .catlogue-product-price{
    font-size: 11px;
    color: #6d6567;
 }


 :host ::ng-deep .irs-bar {
  height: 5px!important;
  top: 33px!important;
  border-top: 1px solid #8c031f!important;
  border-bottom: 1px solid #8c031f!important;
  background: #428bca!important;
  background: linear-gradient(to top, #8c031f 0%,#8c031f 100%)!important;
}
:host ::ng-deep .irs-shadow {
  height: 0px!important;
}
:host ::ng-deep .irs-slider:hover {
  background: #8c031f!important;
}
:host ::ng-deep .irs-line {
  height: 5px!important;
  top: 33px!important;
}
:host ::ng-deep .irs-slider {
  top: 27px!important;
  width: 16px!important;
  height: 16px!important;
  border: 1px solid #8c031f!important;
  background: #DDD!important;
  background: #8c031f!important;
  cursor: pointer!important;
}
:host ::ng-deep .irs-from, :host ::ng-deep .irs-to, :host ::ng-deep .irs-single {
  background: #fff !important;
  color: #000 !important;
  padding: 2px 3px;
  font-size: 9px;
  border: 1px solid #c9c9c9;
}
:host ::ng-deep .irs-from[style]{
  left: 0!important;
}
:host ::ng-deep .irs-to[style]{
  /* left: 56%!important; */
  margin-left: 0px!important;
}
:host ::ng-deep .irs-single[style]{
  left: 0%!important;
}

:host ::ng-deep .irs-min[style], :host ::ng-deep .irs-max[style]{
  visibility: hidden!important;
}
/* Menu header design changes start  */
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.8em !important;
    padding-left: 0.8rem !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #231f20 !important;
}

.ul-ff{
    font-family: Source Sans Pro !important;
    font-weight: 400 !important;
}
.bg-white {
    background-color: #fff !important;
}
/* .subcategories-items .subcategories-items-list {
    display: inline-block;
  }
   */
/* .subcategories-items .subcategories-items-list:after {
    content: "|";
    } */

    /* Menu header design changes ends  */

    /* .subcategories-items .subcategories-items-list:not(:last-child):after{
        border: none;
    } */
.subcategories-items-list{
    font-size: 14px;
    font-family: 'Source Sans Pro';
    /* font-family: 'Source Sans Pro', sans-serif; */
    color: #707070;
    /* border-left: 2px solid grey; */
    padding-right: 1rem;
}
/* .subcategories-items-list:not(:first-child):after{
    border-left: 2px solid grey;
} */
.subcategories-items-list-ul{
    border-left: 1px solid rgba(112, 112, 112, 0.4);
}
.subcategories-items-list-ul:first-child { 
    border-left: none !important; 
}

.ffssansp{
    font-family: 'Source Sans Pro';
}

.ffclr{
    color: #707070;
}

.large-img{
    max-width: 90%;
    max-height: 500px;
    width: auto;
    height: auto;
}

.dropdown:hover>.dropdown-menu {
  display: block !important;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none !important;
}


/* Trial css  for menu*/

.subnavlist {
    position: absolute;
    height: auto;
    display: none;
    padding-top: 1px;
    text-align: left;
    overflow: hidden;
    z-index: 100;
}

.subnavlist .subnavlist_wrapper {
    margin: auto;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #EEE;
    border-top: 0;
    height: auto;
    padding: 20px 10px;
    opacity: 0.99;
    width: 100%;
}
.clearfix {
    clear: both;
}
.inline-list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    float:left;
    margin-bottom: 2rem;
}
.subnavlist .sublist_item {
    margin: 0;
}
.subnavlist .taxontype {
    margin: 0 10px 10px 15px;
    letter-spacing: 1px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    font-weight: 600;
}
a.inverted {
    color: #2F4858;
}
.subnavlist .taxonslist {
    margin: 0 0 0 -1px;
    border-right: 1px solid rgba(112, 112, 112, 0.4);
    padding-left: 7px;
    padding-right: 20px;
    border-left: 1px solid rgba(112, 112, 112, 0.4);
}
.list-inline>li, .inline-list>li {
    display: block;
    float: left;
    list-style: none;
}

.subnavlist{
  margin-top: -0.3rem;
}

.ul-ff li:nth-child(1) .subnavlist {
  max-width: 60rem;
}

.ul-ff li:nth-child(1) .subnavlist ul{
  min-height:4rem;
}

.ul-ff li:nth-child(2) .subnavlist {
  max-width: 60rem;
  left: -10rem;
}

.ul-ff li:nth-child(2) .subnavlist ul{
  min-height:1rem;
}

.ul-ff li:nth-child(3) .subnavlist {
  max-width: 60rem;
  left: -5rem;
}

.ul-ff li:nth-child(3) .subnavlist ul{
  min-height:1rem;
}

.ul-ff li:nth-child(4) .subnavlist {
  max-width: 60rem;
  left: -2rem;
}

.ul-ff li:nth-child(4) .subnavlist ul{
  min-height:1rem;
}

.ul-ff li:nth-child(5) .subnavlist {
  max-width: 60rem;
  left: -2rem;
}

.ul-ff li:nth-child(5) .subnavlist ul{
  min-height:1rem;
}

.ul-ff li:nth-child(6) .subnavlist {
  max-width: 60rem;
  left: -40rem;
}

.ul-ff li:nth-child(6) .subnavlist ul{
  min-height:1rem;
}

.ul-ff li:nth-child(7) .subnavlist {
  max-width: 60rem;
  left: -10rem;
}

.ul-ff li:nth-child(7) .subnavlist ul{
  min-height:1rem;
}

.ul-ff li:nth-child(8) .subnavlist {
  max-width: 60rem;
  right: 0rem;
}

.ul-ff li:nth-child(8) .subnavlist ul{
    min-height:1rem;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
}
.container-set-change  {
    background: #231f20;
    border-radius: 1px;
}
.ss-searchbox {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 22px;
    background-color: rgba(255, 255, 255, 0.3);
    border:1px solid lightgrey!important;
}
.ss-searchbox i {
                      
    color: lightgray;
    font-size: 1rem;
}
.ss-searchbox input {
    width: 93%;
    border: 0;
    padding: 0 1rem;
    font-size: 0.8rem;
    background-color: rgba(255, 255, 255, -0.7);
    color:black
}
.ss-searchbox {
    border: 0px;
    border-radius: 17px;
    padding: 9px 10px 9px 10px;
    border:1px solid lightgrey!important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.8em !important;
    padding-left: 0.8rem !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #231f20 !important;
}

.ul-ff{
    font-family: Source Sans Pro !important;
    font-weight: 600 !important;
}
.bg-white {
    background-color: #fff !important;
}
.menu-item a {
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    /* font-family: SourceSansPro; */
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #231f20;
}



.menu-item a:hover {
    /* background-color: #ddd; */
    color: #000;
}

.menu-item a.active {
    /* background-color: grey; */
    color: #000;
}

.dropdown-submenu {
    position: relative;
}
  
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.wrapper-dropdown-1{
    position: relative;
    padding: 0px 38px 5px 10px;
    outline: none;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #ece4e4;
    /* box-shadow: 0 0 5px 0 rgba(189, 189, 189, 0.5); */
    /* box-shadow: 0 -1px 3px 0 rgba(84, 76, 76, 0.78); */
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 5px;
}

.dd-dropdown{
    background: #fff;
    position: absolute;
    width: 100%;
    border: 1px solid #e6e6e6;
    max-height: 250px;
    overflow-y: auto;
    z-index: 9;
    top: -8% !important;
    left: -11% !important;
    transform: translate3d(10px, 35px, 0px) !important;
}

.dd-dropdown-lead{
    background: #fff;
    position: absolute;
    width: 100%;
    border: 1px solid #e6e6e6;
    max-height: 250px;
    overflow-y: auto;
    z-index: 9;
    top: -8% !important;
    left: -8% !important;
    transform: translate3d(10px, 35px, 0px) !important;
}

.dd-dropdown-dimensions{
    background: #fff;
    position: absolute;
    width: 100%;
    border: 1px solid #e6e6e6;
    max-height: 250px;
    overflow-y: auto;
    z-index: 9;
    top: -8% !important;
    left: -8% !important;
    transform: translate3d(10px, 35px, 0px) !important;   
}

.dd-dropdown-sort-price{
    background: #fff;
    position: absolute;
    width: 100%;
    border: 1px solid #e6e6e6;
    max-height: 250px;
    overflow-y: auto;
    z-index: 9;
    top: -8% !important;
    left: -5% !important;
    transform: translate3d(10px, 35px, 0px) !important;
}
.dropdown-toggle{
    /* font-family: SourceSansPro-Regular; */
    color: #707070;
    font-size: 14px;
}
.labels{
    color: #231f20;
    font-size: 14px;
}
.black-borderSeparator{
    border-bottom: 1px solid #d8d1d1;
    margin-left: -15px;
    margin-right: -15px;
}

 

  .-container {
    position: relative;
    background-color: #FFF;
    border: 1px solid #bbc0c4;
    border-radius: 5px;
    padding: 16px;
    font-size: 13px;
    box-shadow: 0 4px 8px rgba(59,64,69,0.2);
    width: 85%;
}
.tag-popup .-arrow.-top {
    display: block;
    transform: rotate(45deg);
    top: -1px;
}
/*.tag-popup .-arrow {
    position: absolute;
     left: 50%;
}*/
 
.mb12 {
    margin-bottom: 12px !important;
}
    #Div4 {
  display: none;
  }
  
 #mainDiv{
  display: none;
}
/*.tag-popup {
    width: 340px;
    padding: 12px;
}*/


.tag-popup{
    display: block;
    position: absolute;
     z-index: 99;
}
ul {
  list-style-type: none;
  padding-left: 0px;
  white-space: nowrap;
}
 
.border-right {
    border-right: 1px solid black;
    padding-right: 122px;
}

 .bcJJDU {
    cursor: pointer;
     
}
/* li.current:after{
border-top: 10px solid transparent;
border-bottom: 12px solid transparent;
border-left: 12px solid #f5f5f5e0;
position: absolute;
z-index: 1;
bottom: 8px;
left: 151%;
content: "";
}*/
.newFont .nav-link.ss-nav-link {
    border: 0 !important;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    padding: 0.6rem 1rem;
    text-shadow: none;
    color: #616161;
    cursor: pointer;
}
 
.newFont .nav-link.ss-nav-link.active {
    color: #8F003E;
}
a:active {
 color: #8F003E;
}
li{
 color: darkgrey;
}
.tubs{
    color: black;
 
}

input[type="checkbox"]{
    -webkit-appearance: initial;
    appearance: initial;
    background: #fff;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    position: relative;
}

input[type="checkbox"]:checked {
    background: #8f0020;
}

.mtb-2{
    padding-top: 2.5rem!important;
    padding-bottom: 2rem!important;
}
.fs-18{
    font-size: 18px !important;
}

.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-normal{
    font-weight: normal;
}
.catlogue-product-name{
    font-size: 15px;
    font-weight: 600;
    color: #231f20;
    font-family: 'Source Sans Pro', sans-serif;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.cat-units-label{
    font-size: 14px;
    color: #231f20;
}
.cat-sold-qty{
    font-family: Roboto !important;
    font-size: 14px;
    color: #231f20;
}

.cat-prod-price{
    font-weight: normal;
    font-size: 14px;
    color: #6d6567!important;
}
.saved-products-heart-label{
    font-family:FontAwesome 'Source Sans Pro', sans-serif;
    color:#8f0020;
    font-size: 14px;
    font-weight: normal;
}
.pt7b5{
    padding: 7% 0% 5% 0%;
}
.dropdown-toggle::after {
    display:none;
 }

 .product-card-img{
    max-height: 170px;
    max-width: 170px;
    margin: auto;
 }

 .card{
    font-family: 'Source Sans Pro', sans-serif;
 }

 .card.new::before{
    content: 'NEW';
    background-image: url(/assets/img/new-flag.svg);
    width: 70px;
    height: 28px;
    position: absolute;
    left: -7px;
    top: 8px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
 }

 .catlogue-product-price{
    font-size: 11px;
    color: #6d6567;
 }


 :host ::ng-deep .irs-bar {
  height: 5px!important;
  top: 33px!important;
  border-top: 1px solid #8c031f!important;
  border-bottom: 1px solid #8c031f!important;
  background: #428bca!important;
  background: linear-gradient(to top, #8c031f 0%,#8c031f 100%)!important;
}
:host ::ng-deep .irs-shadow {
  height: 0px!important;
}
:host ::ng-deep .irs-slider:hover {
  background: #8c031f!important;
}
:host ::ng-deep .irs-line {
  height: 5px!important;
  top: 33px!important;
}
:host ::ng-deep .irs-slider {
  top: 27px!important;
  width: 16px!important;
  height: 16px!important;
  border: 1px solid #8c031f!important;
  background: #DDD!important;
  background: #8c031f!important;
  cursor: pointer!important;
}
:host ::ng-deep .irs-from, :host ::ng-deep .irs-to, :host ::ng-deep .irs-single {
  /*background: #8c031f!important;*/
}
:host ::ng-deep .irs-from[style]{
  left: 0!important;
}
:host ::ng-deep .irs-to[style]{
  /*left: 56%!important;*/
}
:host ::ng-deep .irs-single[style]{
  left: 0%!important;
}

:host ::ng-deep .irs-min[style], :host ::ng-deep .irs-max[style]{
  visibility: hidden!important;
}
/* Menu header design changes start  */
 
/* .subcategories-items .subcategories-items-list {
    display: inline-block;
  }
   */
/* .subcategories-items .subcategories-items-list:after {
    content: "|";
    } */

    /* Menu header design changes ends  */

    /* .subcategories-items .subcategories-items-list:not(:last-child):after{
        border: none;
    } */
.subcategories-items-list{
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #707070;
    border-left: 2px solid grey;
    padding-right: 1rem;
}
/* .subcategories-items-list:not(:first-child):after{
    border-left: 2px solid grey;
} */
.subcategories-items-list-ul{
    border-left: 2px solid grey;
}
.subcategories-items-list-ul:first-child { 
    border-left: none !important; 
}
.Product-bg {
 
  background-color: #f5f5f5;
}
.xzoom { 
  border: 1px solid lightgray;
  border-radius: 3px;  
  width: 482px;
  height:340px;
}
.cardPoss{
margin-top: 23px;
}
.cardPossi{
margin-top: 35px;
}
.card-footer{
    background-color: white;
    height: 3.85rem;
}
.card-switch{
  background-color: white;
  height: 33px;
}
.contPoss{
    margin-top: 4px;
    font-weight: 600;
    font-size: 18px;
}
.contPossi{
    margin-top: -12px;
    font-weight: 600px;
    color: #6d6567;
    font-size: 14px
}
.verticalLine {
  border-right: thick solid #ff0000;
}

p{
   font-family: 'Source Sans Pro', sans-serif; 
}
 
.xzoom-container { 
  display: inline-block;
}

.xzoom-thumbs {
  text-align: center;
  margin-bottom: 10px;
  margin-right: 20px;
}

.xzoom { 
  border: 1px solid lightgray;
  border-radius: 5px;  
  width: 32rem;
  height:401px;
}
 
.xzoom-gallery, .xzoom-gallery2, .xzoom-gallery3, .xzoom-gallery4, .xzoom-gallery5 {
  border: 1px solid #cecece;
  margin-left: 18px;
  margin-bottom: 10px;
  height: 62px;
}
 
 
.xzoom-thumbs{
  margin-top: 28px;
}

 
h6{
  color: #93001E;
}
.font-col{
 color: #93001E; 
}
.cosSect{
      
    width: 386px;
}
.form-pos{
  margin-left:33px;
 
}
.frmcon{
  width: 105px;
}
 
.variation-img-container  {
    width:40px;
    height:40px;
    overflow: hidden;
    float: left;
    cursor: pointer;
    margin-right:15px;
    margin-bottom:10px;
}
.font-coll{
 color: #93001E; 
 margin-right: 25px;
 }
.mtt{
  margin-left: 30px;
}
table {
  border-spacing: 35px 60px; 
   margin-top: 10px;
}
 .carousel-control-next{
    left: 480px;
    font-size: 24px;
    margin-top: -16px;
    opacity: .9;

 }
 .carousel-control-prev {
    left: -23px;
    font-size: 24px;
    margin-top: -16px;
    opacity: .9;
}
 .carousel-control-prev-icon{
   margin-left: -26px;
 
 }

 .cosTogg{
    margin-right: 62px;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin-top: 63px;
    margin-left: 180px;
 }
  .cosToggl{
    margin-right: 62px;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin-top: 63px;
    margin-left: 205px;
 }
 .cosTogg1{
    margin-left: 6px;
    font-size: 13px;
    width: 8px;
  
 
 }
 .View-Product {
 
  background-color: #f5f5f5;
}
.Living-room-seating {
 
  opacity: 0.6;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #231f20;
}
.Sofa-Sets {
 
  opacity: 0.6;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #231f20;
}
.Hopefull-Sofa {
 
font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #231f20;
}
.SKU-Code-Arr-2Seat {
  
  font-family: 'Source Sans Pro', sans-serif;  
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #707070;
}
.sku-chng{
  margin-top: 23px;
} 
.Coco---Two-Seater-So {
   
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: 600;
  
  letter-spacing: 0.9px;
  color: #231f20;
}
.coc{
  margin-top: 5px;
  margin-bottom: 10px;
}
.MASTER-OPTION {
 
   font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  word-spacing: 5px;
  color: #8d0528;
  margin-top: 30px;
  margin-bottom: 8px;
}
.MASTER-SUBOPTION {
 
   font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  word-spacing: 5px;
  color: #8d0528;
  margin-top: 22px;
  margin-bottom:12px;
}
.CATALOG-OPTIONS {
  
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  word-spacing: 5px;
  color: #8d0528;
  margin-top:14px;
  margin-bottom: 13px;
  
}
 .prices {
  
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  letter-spacing: 0.7px;
  color: #231f20;
  margin-top: 7px;
}
.Rectangle {
  width:111px;
  
  border-radius: 4px;
  background-color: #ffffff;
  font-weight: 500px;
}
.Rectangle1 {
  width: 385px;
  border-radius: 4px;
  background-color: #ffffff;
  font-weight: 500px;
}
 
.form-possi{
   margin-left: 33px;
   margin-top: 33px;
   float: left;
    width: 80%;
    max-height: 100px;
    overflow: hidden;
}

.form-possi.expand{
  max-height: max-content;
  overflow: visible;
}
.PRODUCT-INFORMATION {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  word-spacing: 5px;
  color: #8d0528;
  margin-top: 13px;
}
.text-deco{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  color: #8a8a8a;
  padding-top: 0.5em;
}
.text-deco1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #231f20;
  padding-top: 0.5em;
}
.lorem-head {
 
 font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  color: #8a8a8a;
}
.Lorem-ipsum  {
 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  color: #231f20;
}
.VIEW-SIMILAR-PRODUCT {
 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  word-spacing: 5px;
  color: #8d0528;
   
}
.View-All {
 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #8f0020;
}
.View-More {
 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #8f0020;
  margin-top:8px;
  margin-right: 5.5rem;
}
.WARRANTY {
 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #8d0528;
}
.trmarg{
  margin-top: 20px
}
.Path_110 {
  font-size: 16px;
  color: #8c051e;
  margin-left: 33px;
}
.left_chevron-copy-3 {
  width: 15px;
  height: 8px;
  transform: rotate(90deg);
  margin-left: 230px;
  position: absolute;
  margin-top:80px;
  font-size: 24px;
}
.left_chevron-copy-2 {
  width: 15px;
  height: 8px;
  transform: rotate(90deg);
  margin-left: 208px;
  position: absolute;
  margin-top: 86px;
  font-size: 24px;
}
 
.left_chevron-copy-4{

  width: 18px;
  height: 8px;
  transform: rotate(0deg);
  font-size: 14px;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2rem + 2px);
    font-size: 14px;
    font-weight: 500;
}
.container-set-change  {
    background: #231f20;
    border-radius: 1px;
}
.ss-searchbox {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 22px;
    background-color: rgba(255, 255, 255, 0.3);
    border:1px solid lightgrey!important;
}
.ss-searchbox i {
                      
    color: white;
    font-size: 1rem;
}
.ss-searchbox input {
    width: 93%;
    border: 0;
    padding: 0 1rem;
    font-size: 0.8rem;
    background-color: rgba(255, 255, 255, -0.7);
    color:black
}
.ss-searchbox {
    border: 0px;
    border-radius: 17px;
    padding: 9px 10px 9px 10px;
    border:1px solid lightgrey!important;
}
.img-zoom-result {
  border: 1px solid #d4d4d4;
    width: 400px;
    height: 400px;
    margin-top: -25rem;
    z-index: 9999;
    position: absolute;
    margin-left: 36rem;
}
.img-zoom-container{
  position: relative;
}
.fa-angle-right,.fa-angle-left{
  color: grey;
  margin-top: 1.5rem;

}
.img-fluid.active{
  border: 2px solid #8c031f;

}


@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

.su-img-container{
    height: 190px;
    overflow: hidden;
    text-align: center;
}

.su-product-card-img{
    width: 90%;
}

.dropdown-menu{
    min-width: 15rem;
}

.text-center{
  text-align: center !important;
}

.text-font-align{
  text-align: center !important;
  font-size:1.18rem !important;
}
/* 
.card-body{
  min-height:19.5rem;
} */

.card-body>p{
  padding-bottom:8%;
}

.card-body {
  text-align:left;
}

.carosel-nav{
  border-radius: 100%;
    outline: none;
    border: 0;
    font-size: 32px;
    height: 8px !important;
    width: 8px !important;

}

.card-text-heading{
  color:grey!important;
}

.card-text-value{
  color:black!important;
  font-weight:600!important;  
}

input[type="checkbox"]{
  cursor: pointer;
}

.position-card-body{
  z-index:0;
  position:relative;
  top:-25px;
}

.slidingamountCard{
  height: 53px;
  box-shadow: 1px 1px 7px 0px #dadada;
  vertical-align: middle !important;
  padding-top: 13px;
}

.style-shade{
  border-style:solid;
  border-width:1px;
  margin:1%;
  padding:3%;
}

.style-highlight-shade{
  min-height:15rem;
  border:solid lightgray 1px;
  width:24%;
  padding:1%;
  margin-left:4%;
  margin-right:3%
}

.slidingamountCard{
  height: 53px;
  box-shadow: 1px 1px 7px 0px #dadada;
  vertical-align: middle !important;
  padding-top: 13px;
}
.comb-addon{
  width: 100%;
  margin:2%
}

.comb-addon > div {
  display:inline-block;
  margin-right:3%;
  margin-bottom:3%;
  text-align:left;
  font-size:11px;
  vertical-align:middle;
  min-width:10%;
  
}

.addon-for-addon-div{
  border: 1px solid lightgrey;
  padding: 2%;
}
/* .py-2{
  padding-top:0 !important;
} */
.switch {
  position: relative;
  display: inline-block;
  left: 1rem;
  /* width: 60px; */
  /* height: 34px; */
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 3px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #8C031F;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8C031F;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  width: 52px;
  height: 25px;
}

.slider.round:before {
  border-radius: 50%;
}
/*.ellip {
  white-space: nowrap; 
  width: 50px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  border: 1px solid #000000;
}*/
.ellip {
    font-size: 15px;
    font-weight: 600;
    color: #231f20;
    font-family: 'Source Sans Pro', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



/*///////toggle//////////*/
 
 
.switche {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switche input {display:none;}

.slidere {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slidere:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slidere {
  background-color: #2ab934;
}

input:focus + .slidere {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slidere:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slidere:after
{
 content:'Polka';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 64%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slidere:after
{  
  content:'Catalog';
  top: 50%;
 left:37%;
}
.specification-sub{
  color:#8c0420;
  font-size: 12px
}

.specification-value{
  font-size:12px;
}

.zoom {
  transition: transform .2s;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 10%;
  border: 1px solid #8c0420;
}

.zoom:hover {
  -ms-transform: scale(3.0); /* IE 9 */
  -webkit-transform: scale(3.0); /* Safari 3-8 */
  transform: scale(3.0); 
  /* border-radius: 10%;
  border: 1px solid #8c0420; */
}



.amount-design{
  font-weight:300;
  color:black;
  padding:0.5rem;
  cursor:pointer;
}

/*--------- END --------*/